<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/public/css/Universal.css">
    <link rel="stylesheet" href="/public/css/404.css">
</head>
<body>
    <div class="bacSty">
        <div class="middle">
            <h1>404</h1>
            <h2>对不起，您访问的页面无法找到</h2>
            <a href="/">返回首页</a>
        </div>
    </div>
</body>
</html>