{{extend './backstage.html'}}
{{block 'title'}}分类管理{{/block}}
{{block 'header'}}
<link rel="stylesheet" href="public/css/authentication.css">
{{/block}}
{{block 'authentication'}}
<a href="authentication" class="changes active-sign">
    <i><img src="public/iconfont/authentication.png" alt="" class="sign"></i>
    认证范围管理
</a>
<div class="signing active-signing">

</div>
{{/block}}
{{block 'pop'}}
<div class="hidden">
    <div class="pop-up">
        <div class="pop-main">
            <div class="hint">
                新增认证范围
            </div>
            <div class="classifier">
                <span class="'classifier-title">认证名称：</span>
                <input type="text" class="classifier-input" placeholder="请输入新的认证名称" maxlength="5">
            </div>
        </div>
        <div style="position: relative;top:50px;">
            <button class="btn btn-confirm">确定</button>
            <button class="btn btn-cancel">取消</button>
        </div>
    </div>
</div>
<div class="hidden">
    <div class="pop-up warn">
        <div >
            <span class="pop-header">系统提示</span>
            <img src="public/iconfont/warn2.png" alt="" class="warning">
            <span class="warn-text">确定删除嘛？</span>
        </div>
        <div class="button">
            <button class="btn confirm">确定</button>
            <button class="btn cancel">取消</button>
        </div>
    </div>
</div>
<div class="hidden delay">
    <div class="pop-up warns">
        <div >
            <!-- <span class="pop-header">系统提示</span> -->
            <img src="public/iconfont/warn2.png" alt="" class="warnings">
            <span class="warn-texts">确定通过嘛</span>
        </div>
        <div class="button">
            <button class="btn confirmes">确定</button>
        </div>
    </div>
</div>
{{/block}}
{{block 'body'}}
<div class="card-body">
    <div class="card-header">
        <button class="btn btn-new">新增</button>
    </div>
    <div>
        <div class="classifies">
            <div class="first-level">
                <div class="classify-list">
                    <img src="public/iconfont/arrow3.png" alt="" class="arrow arrow-right">
                    <!-- <img src="public/iconfont/arrow4.png" alt="" class="arrow arrow-bottom"> -->
                    <span class="classify-name">热门推荐</span>
                    <div class="func">
                        <button class="btn btn-update">修改</button>
                        <button class="btn btn-new">新增</button>
                        <button class="btn btn-delete">删除</button>
                    </div>
                </div>
            </div>
            <div class="secondLevel">
                <div class="second-level">
                    <div class="classify-list-next">
                        <!-- <img src="public/iconfont/arrow4.png" alt="" class="arrow arrow-bottom"> -->
                        <span class="classify-next-name">人像</span>
                        <div class="func">
                            <button class="btn btn-update">修改</button>
                            <button class="btn btn-delete">删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/block}}
{{block 'footer'}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="public/js/authentication.js"></script>
{{/block}}