<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block 'title'}}{{/block}}</title>
    <link rel="shortcut icon" href="/public/img/huidilogoIcon.png" type="image/x-icon">
    <link rel="stylesheet" href="public/css/backstage.css">
    {{block 'header'}}{{/block}}
</head>
<body>
    {{block 'pop'}}{{/block}}
<div >
    <div class="header">
        <div class="pull-left">
            <div class="logo">
                <a href="homepage">
                    <img src="public/img/huidilogo.png" alt="">
                </a>
            </div>
            <!-- <div class="hamburger">
                <span class="menu"></span>
            </div> -->
        </div>
        <div class="pull-right">
            <ul>
                <li class="header-icon dib">
                    <img src="public/img/11.png" alt="" class="manage-img">
                    <span class="manage-name">
                        WOlf
                        <i><img src="public/iconfont/arrow1.png" alt="" class="arrow"></i>
                    </span>
                    <div class="drop-down">
                        <div class="dropdown-content-body">
                           <ul>
                                <li>
                                    <a href="/">
                                        返回首页
                                    </a>
                                </li>
                                <li>
                                    <a  class="out">
                                        退出登录
                                    </a>
                                </li>
                           </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="siderbar">
        <div class="scrollbar">
            <div class="none-content">
                <ul>
                    <li class="label">后台管理</li>
                    <li class="change">
                        {{block 'homepage'}}
                        <a href="homepage" class="changes">
                            <i><img src="public/iconfont/users.png" alt="" class="sign"></i>
                            用户管理
                            
                        </a>
                        <div class="signing">
                        
                        </div>
                        {{/block}}
                    </li>
                    <li class="change">
                        {{block 'collection'}}
                        <a href="collection" class="changes">
                            <i><img src="public/iconfont/album.png" alt="" class="sign"></i>
                            专辑管理
                        </a>
                        <div class="signing ">

                        </div>
                        {{/block}}
                    </li>
                    <li class="change">
                        {{block 'mangereport'}}
                        <a href="mangereport" class="changes">
                            <i><img src="public/iconfont/report.png" alt="" class="sign"></i>
                            举报管理
                        </a>
                        {{/block}}
                    </li>
                    <li class="change">
                        {{block 'audit'}}
                        <a href="audit" class="changes">
                            <i><img src="public/iconfont/content.png" alt="" class="sign"></i>
                            内容审核
                        </a>
                        <div class="signing">

                        </div>
                        {{/block}}
                    </li>
                    <li class="change">
                        {{block 'classify'}}
                        <a href="classify" class="changes">
                            <i><img src="public/iconfont/classify.png" alt="" class="sign"></i>
                            分类管理
                        </a>
                        <div class="signing">

                        </div>
                        {{/block}}
                    </li>
                    <li class="change">
                        {{block 'role'}}
                        <a href="role" class="changes">
                            <i><img src="public/iconfont/role.png" alt="" class="sign"></i>
                            角色管理
                        </a>
                        <div class="signing">

                        </div>
                        {{/block}}
                    </li>
                    <li class="change">
                        {{block 'authentication'}}
                        <a href="authentication" class="changes">
                            <i><img src="public/iconfont/authentication.png" alt="" class="sign"></i>
                            认证范围管理
                        </a>
                        <div class="signing">

                        </div>
                        {{/block}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-wrap">
        <div class="main">
            <div class="container">
                <div class="important">
                    <div class="card">
                        {{block 'body'}}{{/block}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="public/js/backstage.js"></script>
{{block 'footer'}}{{/block}}
</html>