<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片分类</title>
    <link rel="stylesheet" href="/public/css/Universal.css">
    <link rel="stylesheet" href="/public/css/Classification.css">
</head>

<body>
    <!-- 回到顶部 -->
    <div class="flexedBox">
        <a href="#">
            <i class="iconfont">&#xe88d;</i>
        </a>
    </div>
    <div class="middle">
        <div class="middleTop">
            <div class="middleTopContent">
                <h2>家居生活</h2>
                <div class="categoryAll">
                    <div class="categoryAllItem">
                        <div class="categoryAllItemTop">空间</div>
                        <div class="categoryAllItemContent">
                            <a href="javascript:;">客厅</a>
                            <a href="javascript:;">卧室</a>
                            <a href="javascript:;">楼梯</a>
                            <a href="javascript:;">阁楼</a>
                            <a href="javascript:;">儿童房</a>
                            <a href="javascript:;">厨房</a>
                            <a href="javascript:;">浴室</a>
                            <a href="javascript:;">阳台</a>
                            <a href="javascript:;">飘窗</a>
                            <a href="javascript:;">工作间</a>
                        </div>
                    </div>
                    <div class="categoryAllItem">
                        <div class="categoryAllItemTop">家具</div>
                        <div class="categoryAllItemContent">
                            <a href="javascript:;">沙发</a>
                            <a href="javascript:;">椅子</a>
                            <a href="javascript:;">楼梯</a>
                            <a href="javascript:;">阁楼</a>
                            <a href="javascript:;">儿童房</a>
                            <a href="javascript:;">厨房</a>
                            <a href="javascript:;">浴室</a>
                            <a href="javascript:;">阳台</a>
                            <a href="javascript:;">飘窗</a>
                            <a href="javascript:;">工作间</a>
                        </div>
                    </div>
                    <div class="categoryAllItem">
                        <div class="categoryAllItemTop">风格</div>
                        <div class="categoryAllItemContent">
                            <a href="javascript:;">客厅</a>
                            <a href="javascript:;">卧室</a>
                            <a href="javascript:;">楼梯</a>
                            <a href="javascript:;">阁楼</a>
                            <a href="javascript:;">儿童房</a>
                            <a href="javascript:;">厨房</a>
                            <a href="javascript:;">浴室</a>
                            <a href="javascript:;">阳台</a>
                            <a href="javascript:;">飘窗</a>
                            <a href="javascript:;">工作间</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="middleTagNav clearFloat">
            <span>分类</span>
            <span>></span>
            <a href="javascript:;">家居生活</a>
            <span class="showFilter floatRight">
                <i class="iconfont">&#xe73d;</i>
                只看商品
            </span>
        </div>
        <div class="middleContent">
            <div class="middleContentItem">
                <a href="javascript:;">
                    <img src="/public/img/02.jpg" alt="">
                    <div class="operator">
                        <span>收集</span>
                        <span>点赞</span>
                        <span>评论</span>
                    </div>
                </a>
                <p class="textInfo">11111111111111111111111111111111111111111111111111111111111111111</p>
                <span class="likeInfo">
                    <span>
                        <i class="iconfont">&#xec7f;</i>
                        <span>11</span>
                    </span>
                    <!-- 收藏信息 -->
                    <span>
                        <i class="iconfont">&#xebae;</i>
                        <span>1</span>
                    </span>
                </span>
                <!-- 作者信息 -->
                <div class="userInfo">
                    <a href="javascript:;">
                        <img src="/public/img/01.jpg" alt="">
                    </a>
                    <span>
                        <a href="javascript:;">小蒜蒜</a>
                        <span>
                            发布到
                            <a href="javascript:;">装修</a>
                        </span>
                    </span>
                </div>
            </div>
            <div class="middleContentItem">
                <a href="javascript:;">
                    <img src="/public/img/01.jpeg" alt="">
                    <div class="operator">
                        <span>收集</span>
                        <span>点赞</span>
                        <span>评论</span>
                    </div>
                </a>
                <p class="textInfo">11111111111111111111111111111111111111111111111111111111111111111</p>
                <!-- 点赞信息 -->
                <span class="likeInfo">
                    <span>
                        <i class="iconfont">&#xec7f;</i>
                        <span>11</span>
                    </span>
                    <!-- 收藏信息 -->
                    <span>
                        <i class="iconfont">&#xebae;</i>
                        <span>1</span>
                    </span>
                </span>
                <!-- 作者信息 -->
                <div class="userInfo">
                    <a href="javascript:;">
                        <img src="/public/img/01.jpg" alt="">
                    </a>
                    <span>
                        <a href="javascript:;">小蒜蒜</a>
                        <span>
                            发布到
                            <a href="javascript:;">装修</a>
                        </span>
                    </span>
                </div>
            </div>
            <div class="middleContentItem">
                <a href="javascript:;">
                    <img src="/public/img/01.jpeg" alt="">
                    <div class="operator">
                        <span>收集</span>
                        <span>点赞</span>
                        <span>评论</span>
                    </div>
                </a>
                <p class="textInfo">11111111111111111111111111111111111111111111111111111111111111111</p>
                <!-- 点赞信息 -->
                <span class="likeInfo">
                    <!-- 点赞 -->
                    <span>
                        <i class="iconfont">&#xec7f;</i>
                        <span>11</span>
                    </span>
                    <!-- 收藏信息 -->
                    <span>
                        <i class="iconfont">&#xebae;</i>
                        <span>1</span>
                    </span>
                </span>
                <!-- 作者信息 -->
                <div class="userInfo">
                    <a href="javascript:;">
                        <img src="/public/img/01.jpg" alt="">
                    </a>
                    <span>
                        <a href="javascript:;">小蒜蒜</a>
                        <span>
                            发布到
                            <a href="javascript:;">装修</a>
                        </span>
                    </span>
                </div>
            </div>
            <div class="middleContentItem">
                <a href="javascript:;">
                    <img src="/public/img/02.jpg" alt="">
                    <div class="operator">
                        <span>收集</span>
                        <span>点赞</span>
                        <span>评论</span>
                    </div>
                </a>
                <p class="textInfo">11111111111111111111111111111111111111111111111111111111111111111</p>
                <span class="likeInfo">
                    <span>
                        <i class="iconfont">&#xec7f;</i>
                        <span>11</span>
                    </span>
                    <!-- 收藏信息 -->
                    <span>
                        <i class="iconfont">&#xebae;</i>
                        <span>1</span>
                    </span>
                </span>
                <!-- 作者信息 -->
                <div class="userInfo">
                    <a href="javascript:;">
                        <img src="/public/img/01.jpg" alt="">
                    </a>
                    <span>
                        <a href="javascript:;">小蒜蒜</a>
                        <span>
                            发布到
                            <a href="javascript:;">装修</a>
                        </span>
                    </span>
                </div>
            </div>
            <div class="middleContentItem">
                <a href="javascript:;">
                    <img src="/public/img/01.jpeg" alt="">
                    <div class="operator">
                        <span>收集</span>
                        <span>点赞</span>
                        <span>评论</span>
                    </div>
                </a>
                <p class="textInfo">11111111111111111111111111111111111111111111111111111111111111111</p>
                <!-- 点赞信息 -->
                <span class="likeInfo">
                    <span>
                        <i class="iconfont">&#xec7f;</i>
                        <span>11</span>
                    </span>
                    <!-- 收藏信息 -->
                    <span>
                        <i class="iconfont">&#xebae;</i>
                        <span>1</span>
                    </span>
                </span>
                <!-- 作者信息 -->
                <div class="userInfo">
                    <a href="javascript:;">
                        <img src="/public/img/01.jpg" alt="">
                    </a>
                    <span>
                        <a href="javascript:;">小蒜蒜</a>
                        <span>
                            发布到
                            <a href="javascript:;">装修</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- 动画 -->
    <div class="middle">
        <div class="pulse-container">
            <div class="pulse-bubble pulse-bubble-1"></div>
            <div class="pulse-bubble pulse-bubble-2"></div>
            <div class="pulse-bubble pulse-bubble-3"></div>
        </div>
    </div>
</body>

</html>