{{extend './backstage.html'}}
{{block 'title'}}分类管理{{/block}}
{{block 'header'}}
<link rel="stylesheet" href="public/css/hompage.css">
<link rel="stylesheet" href="public/css/classify.css">
{{/block}}
{{block 'classify'}}
<a href="classify" class="changes active-sign">
    <i><img src="public/iconfont/users.png" alt="" class="sign"></i>
    分类管理
</a>
<div class="signing active-signing">

</div>
{{/block}}
{{block 'pop'}}

{{/block}}
{{block 'body'}}
<div class="card-header">
    
</div>
<div class="card-body">
    <div>
        <button class="btn btn-new">新增</button>
    </div>
    <div>
        <ul>
            <li>

            </li>
        </ul>
    </div>
</div>

{{/block}}
{{block 'footer'}}
<script src="public/js/homepage.js"></script>
{{/block}}