{{extend './layout.html'}}
{{block 'title'}}图片分类{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/iconfont/iconfont.css">
<link rel="stylesheet" href="/public/css/Universal.css">
<link rel="stylesheet" href="/public/css/Classification.css">
{{/block}}

{{block 'bodytop'}}
<!-- 回到顶部 -->
{{/block}}
{{block 'body'}}
<div class="middle bodySty">
    <div class="middleTop">
        <div class="middleTopContent">
            <h2 id="titleClassify"></h2>
            <div class="categoryAll" id="allClassification">

            </div>
            <div class="noContent none" id="noClassifyContent">
                该分类没有内容
            </div>
        </div>
    </div>
    <div class="middleTagNav clearFloat">
        <span>分类</span>
        <span>></span>
        <a href="javascript:;" id="title"></a>
        <span>></span>
        <!-- 搜索内容 -->
        <a href="javascript:;" id="searchInfo"></a>
    </div>
    <div class="middleContent" id="content">
    </div>
    <div class="noContent none" id="noContent">
        没有内容
    </div>
</div>
<!-- 动画 -->
<div class="middle" id="animation">
    <div class="pulse-container">
        <div class="pulse-bubble pulse-bubble-1"></div>
        <div class="pulse-bubble pulse-bubble-2"></div>
        <div class="pulse-bubble pulse-bubble-3"></div>
    </div>
</div>
{{/block}}

{{block 'bottom'}}
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>
<script src="/public/iconfont/iconfont.js"></script>
<script src="/public/js/Classification.js"></script>
{{/block}}