{{extend './backstage.html'}}
{{block 'title'}}专辑管理{{/block}}
{{block 'header'}}
<link rel="shortcut icon" href="/public/img/huidilogoIcon.png" type="image/x-icon">
<link rel="stylesheet" href="public/css/hompage.css">
<link rel="stylesheet" href="public/css/collection.css">
{{/block}}
{{block 'collection'}}
<a href="collection" class="changes active-sign">
    <i><img src="public/iconfont/album.png" alt="" class="sign"></i>
    专辑管理
    
</a>
<div class="signing active-signing">

</div>
{{/block}}
{{block 'pop'}}
<div class="hidden">
    <div class="pop-up">
        <div class="hint">
            驳回处理
        </div>
        <div style="padding-left:20px ;color: black;font-size: 17px;">
            驳回理由：
            <input type="text" class="classifier-input">
        </div>
        <div style="position: relative;bottom:-50px">
            <button class="btn confirm">确定</button>
            <button class="btn cancel">取消</button>
        </div>
    </div>
</div>
<div class="hidden">
    <div class="pop-up warn">
        <div >
            <span class="pop-header">系统提示</span>
            <img src="public/iconfont/warn2.png" alt="" class="warning">
            <span class="warn-text">确定通过嘛</span>
        </div>
        <div class="button">
            <button class="btn confirm">确定</button>
            <button class="btn cancel">取消</button>
        </div>
    </div>
</div>
<div class="hidden delay">
    <div class="pop-up warns">
        <div >
            <!-- <span class="pop-header">系统提示</span> -->
            <img src="public/iconfont/warn2.png" alt="" class="warnings">
            <span class="warn-texts">确定通过嘛</span>
        </div>
        <div class="button">
            <button class="btn confirmes">确定</button>
        </div>
    </div>
</div>
{{/block}}
{{block 'body'}}
<div class="card-header">
    <div class="search">
        <div class="layer-form-item">
            <label class="layer-form-label">专辑状态：</label>
            <div class="layer-input-block">
                <div class="layer-unselect layer-form-select ">
                    <div class="layer-select-title">
                        <input type="text" name=""  placeholder="未审核" class="layer-input layer-click" readonly>
                        <i class="layer-edge"></i>
                    </div>
                    <dl class="layer-list">
                        <dd class="layer-select-tips layer-this startTimes" value="">未审核</dd>
                        <dd class="layer-select-tips startTimes" value="通过">审核通过</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <ul class="card-body-list">
        <li class="card-list-number">序号</li>
        <li class="card-list-name">作者</li>
        <li class="card-list-sex">专辑名</li>
        <li class="card-list-status">状态</li>
        <li class="card-list-mail">描述</li>
        <li class="card-list-timer">创建时间</li>
        <li class="card-list-other">其他操作</li>
    </ul>
    <div class="card-body-main">

    </div>
</div>
<div class="pageings">
    <ul id="pagination"></ul>
</div>
{{/block}}
{{block 'footer'}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="public/js/collection.js"></script>
<script src="public/js/communal.js"></script>
{{/block}}