{{extend './layout.html'}}
{{block 'title'}}关注更多{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/iconfont/iconfont.css">
<link rel="stylesheet" href="/public/css/Universal.css">
<link rel="stylesheet" href="/public/css/focusOnMore.css">
{{/block}}
{{block 'bodytop'}}
{{/block}}
{{block 'body'}}
<div class="middle">
    <div class="content clearFloat">
        <div class="contentLeft floatLeft" id="choiceFocus">
            <span class="clickSty">全部</span>
            <span>美食</span>
            <span>手工</span>
            <span>时尚</span>
            <span>壁纸</span>
            <span>插画</span>
            <span>萌系</span>
            <span>摄影</span>
            <span>园艺</span>
        </div>
        <div class="floatLeft" id="content">
            
        </div>
        <div class="middleAnimation" id="animation">
            <div class="pulse-container">
                <div class="pulse-bubble pulse-bubble-1"></div>
                <div class="pulse-bubble pulse-bubble-2"></div>
                <div class="pulse-bubble pulse-bubble-3"></div>
            </div>
        </div>
        <div class="noContent none" id="noContent">
            没有内容,换一个搜索内容吧
        </div>
    </div>
</div>
{{/block}}
{{block 'bottom'}}
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>
<script src="/public/iconfont/iconfont.js"></script>
<script src="/public/js/focusOnMore.js"></script>
{{/block}}