{{extend './backstage.html'}}
{{block 'title'}}首页{{/block}}
{{block 'header'}}
<link rel="stylesheet" href="public/css/hompage.css">
{{/block}}
{{block 'homepage'}}
<a href="homepage" class="changes active-sign">
    <i><img src="public/iconfont/users.png" alt="" class="sign"></i>
    用户管理
    
</a>
<div class="signing active-signing">

</div>
{{/block}}
{{block 'pop'}}
<div class="hidden">
    <div class="pop-up">
        <div class="hint">
            禁言处理
        </div>
        <div style="padding: 8px;color: black;font-size: 17px;">
            禁言时间：
            <select name="" id="select">
                <option value="请选择">请选择...</option>
                <option value="7">7天</option>
                <option value="15">15天</option>
                <option value="30">30天</option>
                <option value="180">180天</option>
                <option value="360">360天</option>
            </select>
        </div>
        <div style="position: relative;bottom:-50px">
            <button class="btn confirm">确定</button>
            <button class="btn cancel">取消</button>
        </div>
    </div>
</div>
{{/block}}
{{block 'body'}}
<div class="card-header">
    
</div>
<div class="card-body">
    <ul class="card-body-list">
        <li class="card-list-number">序号</li>
        <li class="card-list-name">昵称</li>
        <li class="card-list-sex">性别</li>
        <li class="card-list-status">状态</li>
        <li class="card-list-mail">邮箱</li>
        <li class="card-list-other">其他操作</li>
    </ul>
    <ul class="card-body-list">
        <li class="card-list-number">1</li>
        <li class="card-list-name">李宁</li>
        <li class="card-list-sex">女</li>
        <li class="card-list-status">封号</li>
        <li class="card-list-mail">3400164864@qq.com</li>
        <li class="card-list-other">
            <button class="btn forbiding">
                <img src="public/iconfont/warn.png" alt="" class="forbid">
                禁言
            </button>
            <button class="btn seal">
                <img src="public/iconfont/forbid.png" alt="" class="forbid">
                封号
            </button>
        </li>
    </ul>
</div>
<div class="page-change">
    <div class="page-background">
        <span class="page-size">共 1 条</span>
        <div style="display: inline-block;vertical-align: 9px;margin-right: 10px;">
            <select class="pageSize">
                <option value="5">5条/页</option>
                <option value="10">10条/页</option>
                <option value="20">20条/页</option>
                <option value="50">50条/页</option>
            </select>
        </div>
        <button class="page-left"><img src="public/iconfont/arrow5.png" alt="" class="page_icon"></button>
        <span class="page-current">1</span>
        <button class="page-right"><img src="public/iconfont/arrow3.png" alt="" class="page_icon"></button>
        <span class="page-goto">
            前往
            <input type="text" class="page-input" value="1">
            页
        </span>
    </div>
</div>
{{/block}}
{{block 'footer'}}
<script src="public/js/homepage.js"></script>
<script src="public/js/communal.js"></script>
{{/block}}