<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>未来壁纸网站</title>
    <!-- 引入css -->
    <link rel="stylesheet" href="/public/css/Universal.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <!-- 顶部搜索和分类 -->
    <!-- 固定定位 -->
    <div class="flexedBox">
        <a href="#">
            <i class="iconfont">&#xe88d;</i>
        </a>
    </div>
    <!-- 内容区 -->
    <div class="middle clearFloat">
        <div class="carouselLeft floatLeft" onmouseleave="beginSettimeout()" onmouseenter="endSettimeout()">
            <div class="carousel">
                <div class="carouselItem">
                    <a href="javascript:;">
                        <img src="/public/img/01.png" alt="">
                    </a>
                </div>
                <div class="carouselItem">
                    <a href="javascript:;">
                        <img src="/public/img/02.png" alt="">
                    </a>
                </div>
                <div class="carouselItem">
                    <a href="javascript:;">
                        <img src="/public/img/03.png" alt="">
                    </a>
                </div>
            </div>
            <div class="carouselPoints">
                <span class="defaultPoints clickCarouselPoints" onclick="clickJump(0)"></span>
                <span class="defaultPoints" onclick="clickJump(1)"></span>
                <span class="defaultPoints" onclick="clickJump(2)"></span>
            </div>
            <div class="carouselLeftArrow carouselArrow">
                <span onclick="leftArrow()">
                    <i class="iconfont">&#xe660;</i>
                </span>
            </div>
            <div class="carouselRightArrow carouselArrow">
                <span onclick="rightArrow()">
                    <i class="iconfont">&#xe65f;</i>
                </span>
            </div>
        </div>
        <div class="carouselRight floatLeft">
            <div class="carouselRightItem topSty">
                <h3>社会热点</h3>
            </div>
            <div class="carouselRightFather">
                <div class="carouselRightItem carouselRightAll">
                    <a href="javascript:;">励志壁纸</a>
                    <a href="javascript:;">手绘女头</a>
                    <a href="javascript:;">库洛米表情包</a>
                    <a href="javascript:;">蔡徐坤</a>
                    <a href="javascript:;">治愈系壁纸</a>
                    <a href="javascript:;">奇迹暖暖</a>
                    <a href="javascript:;">开黑头像</a>
                    <a href="javascript:;">平板壁纸</a>
                </div>
            </div>
            <div class="carouselRightFeatured">
                <div class="carouselRightFeaturedItem">
                    <a href="javascript:;">
                        <span>精选</span>
                        <span>ins风背景图</span>
                    </a>
                </div>
            </div>
            <!-- 进入小组官网 -->
            <div class="carouselRightLogo clearFloat">
                <div class="logoItem floatLeft">
                    <a href="https://www.wlgzs.net/" target="_blank">
                        <img src="/public/img/logo.png" alt="">
                    </a>
                </div>
                <div class="floatLeft logoItemText">
                    <span>
                        <a href="https://www.wlgzs.net/" target="_blank">未来软件工作室</a>
                    </span>
                    <span>用技术,</span>
                    <span>去改变生活</span>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="middleContent">
            <div class="centerLeft">
                <div class="centerLeftItem">
                    <span class="navChoiceSty">
                        <span class="navTextChoiceSty">每日精选</span>
                    </span>
                    <span class="">
                        <span>关注动态</span>
                    </span>
                </div>
            </div>
            <!-- 中间内容 -->
            <div class="">
                <div class="centerMiddle">
                    <!-- 每日精选 -->
                    <div class="centerMiddleItem">
                        <div class="centerMiddleItemUser">
                            <div class="userInfo">
                                <a href="javascript:;">
                                    <img src="/public/img/01.jpg" alt="">
                                </a>
                                <div class="userName">
                                    <!-- 用户名 -->
                                    <a href="javascript:;">
                                        <span>ylimhs-yzr</span>
                                    </a>
                                    <span>热门内容</span>
                                </div>
                            </div>
                            <div class="userPostContent">
                                <p>蜡笔小新锁屏+壁纸套图</p>
                                <div class="userPostContentAllimg">
                                    <img src="/public/img/img1.jpeg" alt="">
                                    <img src="/public/img/img2.jpeg" alt="">
                                    <img src="/public/img/img3.jpeg" alt="">
                                    <img src="/public/img/img.png" alt="">
                                </div>
                                <div class="userWorkOperate">
                                    <span>
                                        <i class="iconfont">&#xec7f;</i>
                                        <span>152</span>
                                    </span>
                                    <span>
                                        <i class="iconfont">&#xebae;</i>
                                        <span>476</span>
                                    </span>
                                    <span>
                                        <i class="iconfont">&#xe69b;</i>
                                        <span>举报</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="centerMiddleItem">
                        <div class="centerMiddleItemUser">
                            <div class="userInfo">
                                <a href="javascript:;">
                                    <img src="/public/img/01.jpg" alt="">
                                </a>
                                <div class="userName">
                                    <!-- 用户名 -->
                                    <a href="javascript:;">
                                        <span>ylimhs-yzr</span>
                                    </a>
                                    <span>热门内容</span>
                                </div>
                            </div>
                            <div class="userPostContent">
                                <p>蜡笔小新锁屏+壁纸套图</p>
                                <div class="userPostContentAllimg">
                                    <img src="/public/img/img1.jpeg" alt="">
                                    <img src="/public/img/img2.jpeg" alt="">
                                    <img src="/public/img/img3.jpeg" alt="">
                                    <img src="/public/img/img.png" alt="">
                                </div>
                                <div class="userWorkOperate">
                                    <span>
                                        <i class="iconfont">&#xec7f;</i>
                                        <span>152</span>
                                    </span>
                                    <span>
                                        <i class="iconfont">&#xebae;</i>
                                        <span>476</span>
                                    </span>
                                    <span>
                                        <i class="iconfont">&#xe69b;</i>
                                        <span>举报</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="centerMiddle">
                    <!-- 关注的动态 -->
                </div>
            </div>
            <!-- 推荐关注 -->
            <div class="">
                <div class="centerRight">
                    <div class="centerRightTop clearFloat">
                        <h3 class="floatLeft">推荐关注</h3>
                        <span class="floatRight">换一批</span>
                    </div>
                    <!-- 推荐关注 -->
                    <div class="">
                        <div class="recommendedBloggers">
                            <div class="recommendedBloggersItem">
                                <a href="javascript:;">
                                    <img src="/public/img/01.jpg" alt="">
                                </a>
                                <span class="userNameInfoItem">
                                    <a href="javascript:;">ottokim</a>
                                    <p>擅长领域:插画</p>
                                </span>
                                <span>
                                    <span class="focusSty cancelFocusSty focusOnAllSty">关注</span>
                                </span>
                            </div>
                        </div>
                        <div class="recommendedBloggers">
                            <div class="recommendedBloggersItem">
                                <a href="javascript:;">
                                    <img src="/public/img/01.jpg" alt="">
                                </a>
                                <span class="userNameInfoItem">
                                    <a href="javascript:;">ottokim</a>
                                    <p>擅长领域:插画</p>
                                </span>
                                <span>
                                    <span class="focusSty focusOnAllSty">关注</span>
                                </span>
                            </div>
                        </div>
                        <!-- 查看更多 -->
                        <div class="watchMore">
                            <a href="javascript:;">
                                查看更多
                                <i class="iconfont:;">&#xe65f;</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 引入js -->
    <script src="/public/js/index.js"></script>
</body>

</html>