<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{block 'title'}}{{/block}}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/public/css/Universal.css">
    <link rel="stylesheet" href="public/css/layout.css">
    {{block 'head'}}{{/block}}
</head>
<body>

    {{block 'bodytop'}}{{/block}}
        <!-- 出错的提示信息 -->
    
<div class="wrong hintSty none">
    <span class="">
        <i class="iconfont">&#xe606;</i>
    </span>
    <span id="wrongText">
        操作失败
    </span>
</div>
<!-- 成功的提示信息 -->
<div class="success hintSty none">
    <span class="">
        <i class="iconfont">&#xe62a;</i>
    </span>
    <span id="successText">
        操作成功
    </span>
</div>
<!-- 警告信息 -->
<div class="warning hintSty none">
    <span class="">
        <i class="iconfont">&#xe66a;</i>
    </span>
    <span id="warningText">
        信息不符
    </span>
</div>

    <div id="header">
        <div class="wrap header_max">
            <a href="" style="display: block;width: 80px;height: 40px;">
                <!-- <img src="public/img/duitanglogo.png" alt=""> -->logo
            </a>
            <div class="header_button">
                分类  <i class="fa fa-caret-up" aria-hidden="true"></i>
            </div>
            <div class="header_class" style="display: none;"></div>
            <div class="header_search">
                <input type="text"  placeholder="请输入您要搜索的内容...">   
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <a href="javascript:;" onclick="publish_show()" class="publish_button"><i class="fa fa-plus" aria-hidden="true" style="margin-right:3px;"></i>发布</a>
            <a href="javascript:;"  class="message_button">消息</a>
            <a href="login" id="toland" class="message_button">登录/注册</a>
            <div id="header_headdiv" style="display: none;">
                <img src="public/img/userHead.jpg" alt="">
                <a href="javascript:;">用户昵称1111111111</a>
            </div>
            <div class="header_co" style="display: none;">
                <a href=""><i class="fa fa-user-circle-o" aria-hidden="true"></i>个人主页</a>
                <a href=""><i class="fa fa-cog" aria-hidden="true"></i>账号设置</a>
                <a href=""><i class="fa fa-sign-out" aria-hidden="true"></i>退出登录</a>
            </div>
        </div>
    </div>
    <a href="javascript:;" onclick="Topfun()" id="totop">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
    </a>
    <div id="publish">
        <div id="publish_main">
            <div class="publish_main_top">
                <!-- 发布动态 -->
                发布照片
                <a href="javascript:;" onclick="publish_down()">×</a>
            </div>
            <div class="publish_files">
                <div id="img-box">
                    <div class="input-file-box">
                        <span>点击上传图片</span>
                        <input type="file" name="" id="uploadfile" multiple>
                    </div>
                </div>
                <!-- <button  onclick="look()">看文件</button> -->
            </div>
            <div class="publish_link">
                <i>*</i>
                图片专辑：
                <select name="albumselect" class="albumselect" onchange="getoption()" >
                    <option value="1">专辑1</option>
                    <option value="1">专辑1</option>
                    <option value="1">专辑3</option>
                    <option value="1">专辑4</option>
                </select>
                <!-- <input type="text" class="publish_send" placeholder="邮箱/电话号"> -->
            </div>
            <textarea type="text" class="publish_text" placeholder="请填写您对图片的描述"></textarea>
            <div style="font-weight: 600;" class="publish_link">
                <i>*</i>
                最多只能发4张图片!
                <i>*</i>
            </div>
            <button id="topublish" onclick="look()" class="havaland">发送反馈</button>
        </div>
    </div>
    {{block 'body'}}
        <div style="height: 1000px;" id="begin-main"></div>
    {{/block}}
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/toolEncapsulation.js"></script>
<script src="public/js/layout.js"></script>
{{block 'bottom'}}{{/block}}
</html>