<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{block 'title'}}{{/block}}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/public/css/Universal.css">
    <link rel="stylesheet" href="/public/iconfont/iconfont.css">
    <link rel="stylesheet" href="public/css/layout.css">
    {{block 'head'}}{{/block}}
</head>
<body>
    {{block 'bodytop'}}{{/block}}
        <!-- 出错的提示信息 -->
    <div id="onlandmax">
        <div class="content" id="onlandmax_content">
            <span class="point">加载中</span>
            <div class="point1"></div>
            <div class="point2"></div>
            <div class="point3"></div>
        </div>
        <div class="reconfirmmax">
            <a href="javascript:;" onclick="closeconfirm()">×</a>
            <div class="confirm_header">删除</div>
            <div class="confirm_content">真的要删除 改条消息 吗？</div>
            <div class="confirm_footer">
                <button class="confirm__button confirm" id="confirmtrue">确认</button>
                <button class="confirm__button cancel" onclick="closeconfirm()">取消</button>
            </div>
        </div>
    </div>
    <div id="tipsback">
        <div class="wrong hintSty none">
            <span class="tipsi">
                <i class="iconfont">&#xe606;</i>
            </span>
            <span id="wrongText" class="tiptext">
                操作失败
            </span>
        </div>
        <!-- 成功的提示信息 -->
        <div class="success hintSty none">
            <span class="tipsi">
                <i class="iconfont">&#xe62a;</i>
            </span>
            <span id="successText" class="tiptext">
                操作成功
            </span>
        </div>
        <!-- 警告信息 -->
        <div class="warning hintSty none">
            <span class="tipsi">
                <i class="iconfont">&#xe66a;</i>
            </span>
            <span id="warningText" class="tiptext">
                信息不符
            </span>
        </div>
    </div>
    <div id="header">
        <div class="wrap header_max">
            <a href="/" style="display: block;width: 80px;height: 60px;">
                <img class="huidilogo" src="public/img/huidilogo.png" alt="">
            </a>
            <div class="header_button">
                分类  <i class="fa fa-caret-up" aria-hidden="true"></i>
                <div class="header_class" style="display: none;">
                    <a href="">分类内容1</a>
                </div>
            </div>
            <div class="header_search">
                <input type="text" id="searchinput" autocomplete="off" oninput="showsearch()"  placeholder="请输入您要搜索的内容...">   
                <button type="submit" onclick="tofind('图片')"><i class="fa fa-search" aria-hidden="true"></i></button>
                <div class="search_class">  
                    <a href="javascript:;" onclick="tofind('图片')">搜索与 <span class="searchva">111</span> 相关的“图片”内容</a>
                    <a href="javascript:;" onclick="tofind('专辑')">搜索与 <span class="searchva">111</span> 相关的“专辑”内容</a>
                    <a href="javascript:;" onclick="tofind('达人')">搜索与 <span class="searchva">111</span> 相关的“达人”内容</a>
                </div>
            </div>
            <a href="javascript:;" class="publish_button"><i class="fa fa-plus" aria-hidden="true" style="margin-right:3px;"></i>发布</a>
            <a href="mymessage"  class="message_button">消息<span id="mymessagedian"></span></a>
            <a href="login" id="toland" class="message_button">登录/注册</a>
            <div id="header_headdiv" style="display: none;">
                <div class="img" style="background-image:url(public/img/userHead.jpg);"></div>
                <!-- <img src="public/img/userHead.jpg" alt=""> -->
                <a href="Personalhomepage">用户昵称1111111111</a>
                <div class="header_co" style="display: none;">
                    <a href="Personalhomepage"><i class="fa fa-user-circle-o" aria-hidden="true"></i>个人主页</a>
                    <a href="modifymessage"><i class="fa fa-cog" aria-hidden="true"></i>账号设置</a>
                    <a href="javascript:;" onclick="outlogin()"><i class="fa fa-sign-out" aria-hidden="true"></i>退出登录</a>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" onclick="Topfun()" id="totop">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
    </a>
    <div id="publish">
        <div id="publish_main">
            <div class="publish_main_top">
                <!-- 发布动态 -->
                发布照片
                <a href="javascript:;" onclick="publish_down()">×</a>
            </div>
            <div class="publish_files">
                <div id="img-box">
                    <div class="input-file-box">
                        <span>上传图片</span>
                        <input type="file" accept=".png,.jpg,.jpeg,image/png,image/jpg,image/jpeg" name="" id="uploadfile" multiple>
                    </div>
                </div>
                <!-- <button  onclick="look()">看文件</button> -->
            </div>
            <div class="publish_link">
                <i>*</i>
                图片专辑：
                <select name="albumselect" class="albumselect">
                    <option value="1">专辑1</option>
                </select>
                <!-- <input type="text" class="publish_send" placeholder="邮箱/电话号"> -->
            </div>
            <div class="publish_link" style="margin-top: 5px;">
                <button id='fadebu' onclick="fadebut()"><i class="fa fa-plus" aria-hidden="true" style="font-size:14px;color:#999;margin:0 5px;"></i>新建专辑</button>
                <div class="header_searchs">
                    <input type="text" id="aname" autocomplete="off" placeholder="请输入您要添加的专辑名">   
                    <button type="submit" onclick="adda()"><i class="fa fa-plus" aria-hidden="true" style="font-size:14px;color:#307ddb;"></i>添加专辑</button>
                </div>
            </div>
            <div class="publish_links">
                <textarea type="text" maxlength="100" id="dyde" class="publish_text" placeholder="请填写您对图片的描述"></textarea>
                <span id="dydenumbermax"><span id="dydenumber">0</span>/100</span>
            </div>
            <div style="font-weight: 600;" class="publish_link">
                最多能发6张图片,内存不可超过10M!
            </div>
            <button id="topublish" onclick="look()" class="havaland">发送动态</button>
        </div>
    </div>
    {{block 'body'}}
        <div style="height: 1000px;" id="begin-main"></div>
    {{/block}}
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>
<!-- <script src="/node_modules/axios/dist/axios.min.js"></script> -->
<script src="/public/js/toolEncapsulation.js"></script>
<script src="public/js/layout.js"></script>
{{block 'bottom'}}{{/block}}
</html>