<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/Universal.css">
    <link rel="stylesheet" href="/public/iconfont/iconfont.css">
    <link rel="stylesheet" href="public/css/Applicationprogress.css">
    <link rel="stylesheet" href="public/css/login.css">
    
    <title>登录</title>
</head>
<body>
    <!-- 出错的提示信息 -->
    <div id="tipsback">
        <div class="wrong hintSty none">
            <span class="tipsi">
                <i class="iconfont">&#xe606;</i>
            </span>
            <span id="wrongText">
                操作失败
            </span>
        </div>
        <!-- 成功的提示信息 -->
        <div class="success hintSty none">
            <span class="tipsi">
                <i class="iconfont">&#xe62a;</i>
            </span>
            <span id="successText">
                操作成功
            </span>
        </div>
        <!-- 警告信息 -->
        <div class="warning hintSty none">
            <span class="tipsi">
                <i class="iconfont">&#xe66a;</i>
            </span>
            <span id="warningText">
                信息不符
            </span>
        </div>
    </div>

    <div class="Card">
        <div class="LOGO"><img class="huidilogo" src="public/img/huidilogo.png" alt=""></div>
        <div class="Re_or_lo">
            <a href="login" style="color: #0461CF;font-size: 20px;">登录</a> | <a href="register">注册</a>
        </div>
    </div>
    <div class="body">
        <div class="form">
              <h3 style="color: #444;margin-top: 40px;">亲爱的用户：</h3>
              <span style="color: #888;font-size: 14px;">您需要使用邮箱进行登录哦</span>
            <div class="logindiv">
                <label >邮箱：</label>
                <input type="text" id="mymail"  autocomplete="off" placeholder="请输入您要登录账号的邮箱">
            </div>
            <div class="logindiv">
                <label >填写密码：</label>
                <input type="password" id="password" autocomplete="off" placeholder="请输入您账号的密码">
            </div>
            <div class="repassword">
                <a href="register">没有账号？点击注册</a>
                <a href="repassword">忘记密码？点击找回</a>
            </div>
            <button class="nextprocedure" onclick="tologin()">登录</button>
        </div>
    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>
<script src="/public/js/toolEncapsulation.js"></script>
<script src="public/js/login.js"></script>
</html>