<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/Applicationprogress.css">
    <link rel="stylesheet" href="public/css/login.css">
    <title>登录</title>
</head>
<body>
    <div id="">

    </div>
    <div class="content">
        <div class="card-body">
          <ul class="nav-step">
            <li class="nav-step-item active complete">
              <span>邮箱注册</span>
              <a class="active" aria-expanded="false">
              </a>
            </li>
            <li class="nav-step-item">
              <span>完善注册</span>
              <a class="uncomplete">
              </a>
            </li>
            <li class="nav-step-item">
              <span>选择兴趣</span>
              <a class="uncomplete">
              </a>
            </li>
          </ul>
        </div>
      </div>
</body>
</html>