{{extend './layout.html'}}
{{block 'title'}}修改信息{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/modifymessage.css">
<link rel="stylesheet" href="public/css/cropper.min.css">
<link rel="stylesheet" href="public/css/ImgCropping.css">
{{/block}}
{{block 'body'}}
    <div id="body">
        <div class="rebody wrap">
            <div class="tab">
                <ul>
                    <li><a href="modifymessage" class="conli  havebethis">基本信息</a></li>
                    <li><a href="reemail" class="conli">修改邮箱</a></li>
                    <li><a href="repassword" class="conli">修改密码</a></li>
                </ul>
            </div>
            <div class="mymessage">
                <div id="mymessageback">
                    <img id="finalImg" src="/public/img/loginback.png">
                    <button id="replaceImg"><i class="fa fa-picture-o" aria-hidden="true"></i> 点击上传背景</button>
                </div>
                <!-- <img src="/public/img/userHead.jpg" alt=""> -->
                <div id="mymessagetext">
                    <div id="cordimg" class="img"></div>
                    <div id="cordcon">
                        <div class="inputdiv">
                            <label >头像上传：</label>
                            <button><i class="fa fa-user-circle-o" aria-hidden="true"></i>点击上传头像</button>
                            <input  type="file" accept=".png,.jpg,.jpeg,image/png,image/jpg,image/jpeg" id="headfile" name="image" size="50" onchange="openimg()">
                        </div>
                        <div class="inputdiv">
                            <label >用户名：</label>
                            <input type="text" class="kuanginput" autocomplete="off" placeholder="请输入您要修改成的用户名">
                        </div>
                        <div class="inputdiv">
                            <label >性别：</label>
                            <input type="radio" name="sex" class="chanceinput" value="男" checked>男
                            <input type="radio" style="margin-left: 15px;" name="sex" class="chanceinput" value="女">女
                        </div> 
                        <div class="inputdivs">
                            <label >描述：</label>
                            <textarea type="text" maxlength="100" class="describe" id="subtextarea" placeholder="请填写您对自己的描述"></textarea>
                            <span id="denumbermax"><span id="denumber">0</span>/100</span>
                        </div> 
                        <button id="kepepbu" style="margin-left: 600px;" onclick="keepmessage()"><i class="fa fa-id-card-o" aria-hidden="true"></i>保存修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none" class="tailoring-container">
        <div class="black-cloth" onclick="closeTailor(this)"></div>
        <div class="tailoring-content">
                <div class="tailoring-content-one">
                    <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                        <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)">
                        选择图片
                    </label>
                    <div class="close-tailoring"  onclick="closeTailor(this)">×</div>
                </div>
                <div class="tailoring-content-two">
                    <div class="tailoring-box-parcel">
                        <img id="tailoringImg">
                    </div>
                    <div class="preview-box-parcel">
                        <p>图片预览：</p>
                        <div class="square previewImg"></div>
                        <div class="circular previewImg"></div>
                    </div>
                </div>
                <div class="tailoring-content-three">
                    <button class="l-btn cropper-reset-btn">复位</button>
                    <button class="l-btn cropper-rotate-btn">旋转</button>
                    <button class="l-btn cropper-scaleX-btn">换向</button>
                    <button class="l-btn sureCut" id="sureCut">确定</button>
                </div>
            </div>
    </div>
{{/block}}
{{block 'bottom'}}
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="public/js/cropper.min.js"></script>
<script src="public/js/modifymessage.js"></script>
{{/block}}