{{extend './layout.html'}}
{{block 'title'}}我的粉丝{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/MyFollowers.css">
{{/block}}
{{block 'body'}}
<div id="body">
    <div class="rebody wrap">
        <div id="main">
            <div id="main-left">
                <a class="feedback-sort" href="MyFollowers"><div class="sortred"></div>我的关注</a>
                <a class="feedback-sort" style=" background-color: #73b2ff ;color:aliceblue" href="Myfans"><div class="sortred"></div>我的粉丝</a>
            </div>
            <div id="main-right">
                <div class="main-right-top">我的粉丝<a href='javascript:;'>清空该信息空间</a></div>
                <div id="message_body">
                    <div class="alike-a">
                        <div class="red"></div>
                        <a href="javascript:;">
                            <img src="public/img/userHead.jpg" class="message-img" alt="">
                        </a>
                        <div class="message-card">
                            <div class="message-card-top">
                                <a href="javascript:;" class="message-username">这是用户名</a>
                                <span class="message-tpye">关注了你：</span>
                                <span class="message-userid" style="display: none;"></span>
                            </div>
                            <div class="message-card-bon">
                                <img src="public/img/man.png" alt="">
                            </div>
                        </div>
                        <div class="message-con">
                            <button class="message-operation" onclick="tofollow()">关注</button>
                            <button class="message-operation" style=" border: 1px solid #ccccd8;color: #7d7d81;display: none;" onclick="outfollow()">取消关注</button></br>
                            <a href="" class="send_message">私信</a>
                            <span class="message-time">3542345234</span>
                        </div>
                    </div>
                </div>
                <div class="main-right-bon">
                    <button onclick="lastpage()">最后一页</button>
                    <a href="javascript:;"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    <a id="rpages" href="javascript:;" style="background-color:#4f8edb;color: white;">1</a>
                    <a href="javascript:;"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    <span id="fansnumber">共0个数据</span>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}
{{block 'bottom'}}
<!-- <script src="public/js/Myfans.js"></script> -->
{{/block}}