{{extend './layout.html'}}
{{block 'title'}}动态信息{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/chatmessage.css">
{{/block}}
{{block 'body'}}
    <div id="body">
        <div class="rebody wrap">
            <div id="main">
                <div id="main-left">
                    <a class="message-sort" href="mymessage"><div class="sortred"></div>消息空间</a>
                    <a class="message-sort" style="color: white;background-color: #73b2ff ;" href="chatmessage"><div class="sortred"></div>聊天空间</a>
                </div>
                <div id="main-right">
                    <div class="main-right-top">
                        <div class="tab">
                            <ul>
                                {{block 'tab'}}
                                <li><a href="chatmessage" class="conli">全部聊天</a></li>
                                <li><a href="nowchatmessage" class="conli havebethis">未读聊天</a></li>
                                {{/block}}
                            </ul>
                        </div>
                    </div>
                    <div class="messagebody">
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/block}}
{{block 'bottom'}}
<script src="public/js/chatmessage.js"></script>
{{/block}}