{{extend './layout.html'}}
{{block 'title'}}个人主页{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/Personalhomepage.css">
{{/block}}
{{block 'body'}}
    <div id="body">
        <div class="rebody wrap">
            <div class="mymessage">
                <div id="mymessageback"></div>
                <!-- <img src="/public/img/userHead.jpg" alt=""> -->
                <div id="mymessagetext">
                    <div id="cordimg"></div>
                    <div id="cordcon">
                        <div id="cord-contentHead">
                            用户名好家伙
                        </div>
                        <div class="cord-contentBot">
                            <img src="/public/img/man.png" class="seximg" alt="">
                            邮箱：<span class="useremail">1111111111@qq.com</span>
                        </div>
                    </div>
                    <a href="modifymessage">编辑个人资料</a>
                </div>
            </div>
            <div class="mytextmessage">
                <div class="mytextmessageleft">
                    <ul>
                        <li><a href="javascript:;" onclick="changeclass(0)" class="conli  havebethis">动态</a></li>
                        <li><a href="javascript:;" onclick="changeclass(1)" class="conli">专辑</a></li>
                        <li><a href="javascript:;" onclick="changeclass(2)" class="conli">文章</a></li>
                        <li><a href="javascript:;" onclick="changeclass(3)" class="conli">收藏</a></li>
                    </ul>
                    <div class="textmessagemax">
                        <div class="textmessage" style="display:none;">
                            <div class="class_header">
                                <h4>我的动态</h4>
                            </div>
                            <div class="class_body">
                                <!-- <div class="dynamicmax">
                                    <div class="user_cord">
                                        <a href="" class="dyusera">
                                            <img src="public/img/userHead.jpg" class="dyuserhead" alt="">
                                            <span class="dyusername">发布动态的用户名</span>
                                        </a>
                                        <span class="dytime">2021:10:33</span>
                                    </div>
                                    <a href="" class="dytexta">
                                        <div class="imgde">
                                            对图的描述对图的描述对图的描述对图的描述对图的描述对图的描述对图的描述
                                            对图的描述对图的描述对图的描述对图的描述对图的描述对图的描述对图的描述
                                        </div>
                                        <div class="imgmax">
                                            <img src="public/img/userHead.jpg" alt="">
                                            <img src="public/img/01.jpg" alt="">
                                            <img src="public/img/02.jpg" alt="">
                                            <img src="public/img/03.jpg" alt="">
                                            <img src="public/img/11.png" alt="">
                                            <img src="public/img/img1.jpeg" alt="">
                                            <img src="public/img/img2.jpeg" alt="">
                                            <img src="public/img/img3.jpeg" alt="">
                                        </div>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                        <div class="textmessage" style="display: block;">
                            <div class="class_header">
                                <h4>我的专辑</h4>
                            </div>
                            <div class="class_body">
                                <a href="" class="Aalbummax">
                                    <span class="albumid"></span>
                                    <div class="imgbox">
                                        <div class="img"></div>
                                    </div>
                                    <div class="albumtext">
                                        <div class="albumname">专辑名</div>
                                        <div class="albumnumber">
                                            <span>0</span> 图片 | <span>0</span> 收藏
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="Aalbummax">
                                    <div class="imgbox">
                                        <div class="img2"></div>
                                        <div class="img2"></div>
                                    </div>
                                    <div class="albumtext">
                                        <div class="albumname">专辑名</div>
                                        <div class="albumnumber">
                                            <span>0</span> 图片 | <span>0</span> 收藏
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="Aalbummax">
                                    
                                </a>
                            </div>
                        </div>
                        <div class="textmessage">
                            <div class="class_header">
                                <h4>我的文章</h4>
                            </div>
                            <div class="class_body"></div>
                        </div>
                        <div class="textmessage">
                            <div class="class_header">
                                <h4>我的收藏</h4>
                            </div>
                            <div class="class_body"></div>
                        </div>
                    </div>
                </div>
                <div class="mytextmessageright">
                    <div class="numberboard">
                        <a href="javascript:;">
                            <span>关注了</span></br>
                            <span class="mynumber">11</span>
                        </a>
                        <a href="javascript:;">
                            <span>关注者</span></br>
                            <span class="mynumber">11</span>
                        </a>
                    </div>
                    <a href="javascript:;" onclick="publish_show()" class="code_publish_button"><i class="fa fa-plus" aria-hidden="true" style="margin-right:3px;"></i>  开始创作</a>
                </div>
            </div>
        </div>
    </div>
{{/block}}
{{block 'bottom'}}
<script src="public/js/Personalhomepage.js"></script>
{{/block}}