{{extend './layout.html'}}
{{block 'title'}}修改邮箱{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/reemail.css">
{{/block}}
{{block 'body'}}
    <div id="body">
        <div class="rebody wrap">
            <div class="tab">
                <ul>
                    <li><a href="modifymessage" class="conli">基本信息</a></li>
                    <li><a href="reemail" class="conli havebethis">修改邮箱</a></li>
                    <li><a href="repassword" class="conli">修改密码</a></li>
                </ul>
            </div>
            <div class="mymessage" style="display: block;">
              <h3 style="color: #444;margin: 70px 0 10px;">亲爱的用户：</h3>
              <span style="color: #888;font-size: 14px;"> 您需要完成身份验证后能正常修改账号邮箱哦</span>
              <div class="form">
                <div class="logindiv">
                    <label >密码：</label>
                    <input type="password" id="mypassword" autocomplete="off" placeholder="请输入您账号的密码">
                </div>
                <button class="nextprocedure" onclick="checkpassword()">下一步</button>
              </div>
            </div>
            <div class="mymessage" style="display: none;">
              <h3 style="color: #444;margin: 10px 0;">亲爱的用户：</h3>
              <span style="color: #888;font-size: 14px;"> 您需要完成身份验证后能正常修改账号哦</span>
              <div class="form">
                <div class="logindiv">
                    <label >邮箱：</label>
                    <input type="text" id="mymail" autocomplete="off" placeholder="请输入您要修改的邮箱">
                </div>
                <div class="logindiv">
                    <label >验证码：</label>
                    <input type="text" id="mycode" autocomplete="off" placeholder="请输入给您发送的验证码">
                    <div class="getcode">
                        <a href="javascript:;" id="getcodea" onclick="getcode()" class="biga">获取验证码</a>
                    </div>
                </div>
                <button class="nextprocedure" onclick="checkcode()">下一步</button>
            </div>
        </div>
    </div>
{{/block}}
{{block 'bottom'}}
<script src="public/js/reemail.js"></script>
{{/block}}