<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/huidilogoIcon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/Universal.css">
    <link rel="stylesheet" href="/public/iconfont/iconfont.css">
    <link rel="stylesheet" href="public/css/Applicationprogress.css">
    <link rel="stylesheet" href="public/css/login.css">
    <title>修改密码</title>
</head>
<body>
  <div id="tipsback">
    <div class="wrong hintSty none">
        <span class="tipsi">
            <i class="iconfont">&#xe606;</i>
        </span>
        <span id="wrongText">
            操作失败
        </span>
    </div>
    <!-- 成功的提示信息 -->
    <div class="success hintSty none">
        <span class="tipsi">
            <i class="iconfont">&#xe62a;</i>
        </span>
        <span id="successText">
            操作成功
        </span>
    </div>
    <!-- 警告信息 -->
    <div class="warning hintSty none">
        <span class="tipsi">
            <i class="iconfont">&#xe66a;</i>
        </span>
        <span id="warningText">
            信息不符
        </span>
    </div>
</div>
    <div class="Card">
      <div class="LOGO"><img class="huidilogo" src="public/img/huidilogo.png" alt=""></div>
        <div class="Re_or_lo">
            <a style="color: #0461CF;font-size: 20px;" href="#">修改密码</a>
        </div>
    </div>
    <div class="body">
        <div class="content">
            <div class="card-body">
              <ul class="nav-step">
                <li class="nav-step-item active complete">
                  <span>邮箱验证</span>
                  <a class="active" aria-expanded="false">
                  </a>
                </li>
                <li class="nav-step-item active">
                  <span>修改密码</span>
                  <a class="active">
                  </a>
                </li>
                <li class="nav-step-item">
                  <span>重新登录</span>
                  <a class="uncomplete">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form">
            <h3 style="color: #444;margin: 10px 0;">亲爱的用户：</h3>
            <span style="color: #888;font-size: 14px;">修改密码后就可以重新登录了</span>
            <div class="logindiv">
                <label >邮箱：</label>
                <span id="mymail">1111111111@qq.com</span>
                <!-- <input type="text" placeholder="请输入您注册使用的邮箱"> -->
            </div>
            <div class="logindiv">
                <label >填写密码：</label>
                <input type="password" id="password" autocomplete="off" placeholder="请输入您要设置的密码">
            </div>
            <div class="logindiv">
                <label >确认密码：</label>
                <input type="password" id="repassword" autocomplete="off" placeholder="请确定您要设置的密码">
            </div>
            <div class="logindiv">
                <label >验证码：</label>
                <input type="text"  style="width: 150px;" id="input" autocomplete="off" placeholder="输入您看到的验证码">
                <input type="button" id="checkCode" style="width: 60px;" class="code" onclick="createCode()" />
                <a href="javascript:;" onclick="createCode()" >看不清楚？</a>
            </div>
            <button class="nextprocedure" onclick="validate()">点击修改</button>
        </div>
    </div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>
<script src="/public/js/toolEncapsulation.js"></script>
<script src="public/js/repassword2.js"></script>
</html>