{{extend './backstage.html'}}
{{block 'title'}}首页{{/block}}
{{block 'header'}}
<link rel="stylesheet" href="public/css/hompage.css">
<link rel="stylesheet" href="public/css/role.css">
{{/block}}
{{block 'role'}}
<a href="role" class="changes active-sign">
    <i><img src="public/iconfont/role.png" alt="" class="sign"></i>
    角色管理
    
</a>
<div class="signing active-signing">

</div>
{{/block}}
{{block 'pop'}}
<div class="hidden">
    <div class="pop-up">
        <div class="pop-change">
            <div class="hint">
                添加角色
            </div>
            <div class="pop-main">
                角色名称：
                <input type="text" class="hidden-input">
            </div>
            <div class="pop-main">
                权限字符：
                <input type="text" class="hidden-input">
            </div>
            <div class="pop-main">
                显示顺序
                <input type="text" class="hidden-input">
            </div>
        </div>
        <div style="position: relative;bottom:-50px">
            <button class="btn confirm">确定</button>
            <button class="btn cancel">取消</button>
        </div>
    </div>
</div>
<div class="hidden">
    <div class="pop-up warn">
        <div >
            <span class="pop-header">系统提示</span>
            <img src="public/iconfont/warn2.png" alt="" class="warning">
            <span class="warn-text">确定删除嘛？</span>
        </div>
        <div class="button">
            <button class="btn confirm">确定</button>
            <button class="btn cancel">取消</button>
        </div>
    </div>
</div>
<div class="hidden delay">
    <div class="pop-up warns">
        <div >
            <!-- <span class="pop-header">系统提示</span> -->
            <img src="public/iconfont/warn2.png" alt="" class="warnings">
            <span class="warn-texts">确定通过嘛</span>
        </div>
        <div class="button">
            <button class="btn confirmes">确定</button>
        </div>
    </div>
</div>

{{/block}}
{{block 'body'}}
<div class="card-header">
    <button class="btn btn-new">新增</button>
    <button class="btn btn-update">修改</button>
    <button class="btn btn-delete">删除</button>
</div>
<div class="card-body">
    <ul class="card-body-list">
        <li class="card-list-checkbox"><input type="checkbox" class="checkbox-all"></li>
        <li class="card-list-number">角色编号</li>
        <li class="card-list-name">角色名称</li>
        <li class="card-list-sex">权限字符</li>
        <li class="card-list-status">显示顺序</li>
        <li class="card-list-other">其他操作</li>
    </ul>
    <div class="card-body-main">

    </div>
</div>
<div class="pageings">
    <ul id="pagination"></ul>
</div>
{{/block}}
{{block 'footer'}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="public/js/communal.js"></script>
<script src="public/js/role.js"></script>

{{/block}}