{{extend './layout.html'}}
{{block 'title'}}搜索详情页{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/iconfont/iconfont.css">
<link rel="stylesheet" href="/public/css/Universal.css">
<link rel="stylesheet" href="/public/css/search.css">
{{/block}}
{{block 'bodytop'}}

{{/block}}
{{block 'body'}}
<div class="middle" style="display: none;">
    <div class="top clearFloat">
        <div class="topContent floatLeft">
            <span>图片</span>
            <span>专辑</span>
            <span>文章</span>
            <span>达人</span>
        </div>
        <!-- 搜索历史 -->
        <div class="searchHistory floatLeft">
            <div class="searchHistoryItem">
                <div class="searchHistoryTop">历史记录</div>
                <!-- 存放历史记录 -->
                <div class="searchHistoryContent">
                    暂无记录
                </div>
            </div>
            <!-- 热门搜索 -->
            <div class="hortSearch">
                <div class="searchHistoryTop">热门搜索</div>
                <!-- 存放历史记录 -->
                <div class="searchHortContent">
                    <a href="javascript:;">欧美情头</a>
                    <a href="javascript:;">拼贴壁纸</a>
                    <a href="javascript:;">高级感背</a>
                    <a href="javascript:;">赵露思</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="middle divide">
    <div class="content">
        <div class="topContent floatLeft">
            <span>图片</span>
            <span>专辑</span>
            <span>文章</span>
            <span>达人</span>
        </div>
        <div class="searchResult">
            <div class="middleContentItem">
                <a href="javascript:;">
                    <img src="/public/img/01.jpeg" alt="">
                    <div class="operator">
                        <span>收集</span>
                        <span>点赞</span>
                        <span>评论</span>
                    </div>
                </a>
                <p class="textInfo">11111111111111111111111111111111111111111111111111111111111111111</p>
                <!-- 点赞信息 -->
                <span class="likeInfo">
                    <span>
                        <i class="iconfont">&#xec7f;</i>
                        <span>11</span>
                    </span>
                    <!-- 收藏信息 -->
                    <span>
                        <i class="iconfont">&#xebae;</i>
                        <span>1</span>
                    </span>
                </span>
                <!-- 作者信息 -->
                <div class="userInfo">
                    <a href="javascript:;">
                        <img src="/public/img/01.jpg" alt="">
                    </a>
                    <span>
                        <a href="javascript:;">小蒜蒜</a>
                        <span>
                            发布到
                            <a href="javascript:;">装修</a>
                        </span>
                    </span>
                </div>
            </div>
            <div class="middleContentItem">
                <a href="javascript:;">
                    <img src="/public/img/02.png" alt="">
                    <div class="operator">
                        <span>收集</span>
                        <span>点赞</span>
                        <span>评论</span>
                    </div>
                </a>
                <p class="textInfo">11111111111111111111111111111111111111111111111111111111111111111</p>
                <!-- 点赞信息 -->
                <span class="likeInfo">
                    <span>
                        <i class="iconfont">&#xec7f;</i>
                        <span>11</span>
                    </span>
                    <!-- 收藏信息 -->
                    <span>
                        <i class="iconfont">&#xebae;</i>
                        <span>1</span>
                    </span>
                </span>
                <!-- 作者信息 -->
                <div class="userInfo">
                    <a href="javascript:;">
                        <img src="/public/img/01.jpg" alt="">
                    </a>
                    <span>
                        <a href="javascript:;">小蒜蒜</a>
                        <span>
                            发布到
                            <a href="javascript:;">装修</a>
                        </span>
                    </span>
                </div>
            </div>
            <div class="middleContentItem">
                <a href="javascript:;">
                    <img src="/public/img/03.png" alt="">
                    <div class="operator">
                        <span>收集</span>
                        <span>点赞</span>
                        <span>评论</span>
                    </div>
                </a>
                <p class="textInfo"></p>
                <!-- 点赞信息 -->
                <span class="likeInfo">
                    <span>
                        <i class="iconfont">&#xec7f;</i>
                        <span>11</span>
                    </span>
                    <!-- 收藏信息 -->
                    <span>
                        <i class="iconfont">&#xebae;</i>
                        <span>1</span>
                    </span>
                </span>
                <!-- 作者信息 -->
                <div class="userInfo">
                    <a href="javascript:;">
                        <img src="/public/img/01.jpg" alt="">
                    </a>
                    <span>
                        <a href="javascript:;">小蒜蒜</a>
                        <span>
                            发布到
                            <a href="javascript:;">装修</a>
                        </span>
                    </span>
                </div>
            </div>
            <div class="middleContentItem">
                <a href="javascript:;">
                    <img src="/public/img/myImg1.jpg" alt="">
                    <div class="operator">
                        <span>收集</span>
                        <span>点赞</span>
                        <span>评论</span>
                    </div>
                </a>
                <p class="textInfo">11111111111111111111111111111111111111111111111111111111111111111</p>
                <!-- 点赞信息 -->
                <span class="likeInfo">
                    <span>
                        <i class="iconfont">&#xec7f;</i>
                        <span>11</span>
                    </span>
                    <!-- 收藏信息 -->
                    <span>
                        <i class="iconfont">&#xebae;</i>
                        <span>1</span>
                    </span>
                </span>
                <!-- 作者信息 -->
                <div class="userInfo">
                    <a href="javascript:;">
                        <img src="/public/img/01.jpg" alt="">
                    </a>
                    <span>
                        <a href="javascript:;">小蒜蒜</a>
                        <span>
                            发布到
                            <a href="javascript:;">装修</a>
                        </span>
                    </span>
                </div>
            </div>
            <div class="middleContentItem">
                <a href="javascript:;">
                    <img src="/public/img/img1.jpeg" alt="">
                    <div class="operator">
                        <span>收集</span>
                        <span>点赞</span>
                        <span>评论</span>
                    </div>
                </a>
                <p class="textInfo">11111111111111111111111111111111111111111111111111111111111111111</p>
                <!-- 点赞信息 -->
                <span class="likeInfo">
                    <span>
                        <i class="iconfont">&#xec7f;</i>
                        <span>11</span>
                    </span>
                    <!-- 收藏信息 -->
                    <span>
                        <i class="iconfont">&#xebae;</i>
                        <span>1</span>
                    </span>
                </span>
                <!-- 作者信息 -->
                <div class="userInfo">
                    <a href="javascript:;">
                        <img src="/public/img/01.jpg" alt="">
                    </a>
                    <span>
                        <a href="javascript:;">小蒜蒜</a>
                        <span>
                            发布到
                            <a href="javascript:;">装修</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="content clearFloat">
        <div class="searchHistory floatLeft">
            <div class="searchHistoryItem">
                <div class="searchHistoryTop">历史记录</div>
                <!-- 存放历史记录 -->
                <div class="searchHistoryContent">
                    暂无记录
                </div>
            </div>
            <!-- 热门搜索 -->
            <div class="hortSearch">
                <div class="searchHistoryTop">热门搜索</div>
                <!-- 存放历史记录 -->
                <div class="searchHortContent">
                    <a href="javascript:;">欧美情头</a>
                    <a href="javascript:;">拼贴壁纸</a>
                    <a href="javascript:;">高级感背</a>
                    <a href="javascript:;">赵露思</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}
{{block 'bottom'}}
<script src="/public/iconfont/iconfont.js"></script>
<script src="/public/js/search.js"></script>
{{/block}}