{{extend './layout.html'}}
{{block 'title'}}搜索详情页{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/iconfont/iconfont.css">
<link rel="stylesheet" href="/public/css/Universal.css">
<link rel="stylesheet" href="/public/css/search.css">
{{/block}}
{{block 'bodytop'}}

{{/block}}
{{block 'body'}}
<div class="middle" style="display: none;">
    <div class="top clearFloat">
        <div class="topContent floatLeft">
            <span>图片</span>
            <span>专辑</span>
            <span>达人</span>
        </div>
        <!-- 搜索历史 -->
        <div class="searchHistory floatLeft">
            <div class="searchHistoryItem">
                <div class="searchHistoryTop">历史记录</div>
                <!-- 存放历史记录 -->
                <div class="searchHistoryContent">
                    暂无记录
                </div>
            </div>
        </div>
    </div>
</div>
<div class="middle divide">
    <div class="content">
        <div class="topContent floatLeft">
            <span class="clickSty">
                <a class="searchJumpInfo" href="javascript:;">图片</a>
            </span>
            <span onclick="choiceTypeFn(this)">
                <a class="searchJumpInfo" href="javascript:;">专辑</a>
            </span>
            <span onclick="choiceTypeFn(this)">
                <a href="javascript:;" class="searchJumpInfo">达人</a>
            </span>
        </div>
        <div class="searchResult albumSty talentShow" id="content">

        </div>
        <div class="middleAnimation" id="animation">
            <div class="pulse-container">
                <div class="pulse-bubble pulse-bubble-1"></div>
                <div class="pulse-bubble pulse-bubble-2"></div>
                <div class="pulse-bubble pulse-bubble-3"></div>
            </div>
        </div>
        <div class="noContent none" id="noContent">
            没有更多内容
        </div>
    </div>

    <!-- 右边 -->
    <div class="content clearFloat">
        <div class="searchHistory floatLeft">
            <div class="searchHistoryItem">
                <div class="searchHistoryTop clearFloat">
                    <span>历史记录</span>
                    <button onclick="delAllSearch()">清空</button>
                </div>
                <!-- 存放历史记录 -->
                <div class="searchHistoryContent none" id="searchNoContent">
                    暂无记录
                </div>
                <div class="searchContent" id="searchContent">

                </div>
            </div>
            <!-- 热门搜索 -->
            <div class="hortSearch">
                <div class="searchHistoryTop">热门搜索</div>
                <!-- 存放历史记录 -->
                <div class="searchHortContent" id="carouselRightAll">
                   
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}
{{block 'bottom'}}
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>
<script src="/public/iconfont/iconfont.js"></script>
<script src="/public/js/search.js"></script>
{{/block}}