{{extend './layout.html'}}
{{block 'title'}}个人主页{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="public/css/Personalhomepage.css">
{{/block}}
{{block 'body'}}
    <div id="body">
        <div class="rebody wrap">
            <div class="mymessage">
                <div id="mymessageback"></div>
                <!-- <img src="/public/img/userHead.jpg" alt=""> -->
                <div id="mymessagetext">
                    <div id="cordimg"></div>
                    <div id="cordcon">
                        <div id="cord-contentHead">
                            用户名好家伙
                        </div>
                        <div class="cord-contentBot">
                            <img src="/public/img/man.png" class="seximg" alt="">
                            邮箱：<span class="useremail">1111111111@qq.com</span>
                        </div>
                        <div class="cord-contentde">
                            <span style="font-size: 14px;color: #444;font-weight: 600;">描述： </span>
                            <span id="mydetext">
                                111
                            </span>
                        </div>
                    </div>
                    <a href="javascript:;" class="followbutton" onclick="tofollow()"><span style="font-size: 16px;padding:0 3px;font-weight: bold">+</span>关注</a>
                    <a href="javascript:;" class="followbutton" style=" border: 1px solid #ccccd8;color: #7d7d81;display: none;" onclick="outfollow()">取消关注</a>
                </div>
            </div>
            <div class="mytextmessage">
                <div class="mytextmessageleft">
                    <ul>
                        <li><a href="javascript:;" onclick="changeclass(0)" class="conli  havebethis">动态  <span id="dynumber">0</span></a></li>
                        <li><a href="javascript:;" onclick="changeclass(1)" class="conli">专辑</a></li>
                        <li><a href="javascript:;" onclick="changeclass(2)" class="conli">收藏</a></li>
                    </ul>
                    <div class="textmessagemax">
                        <div class="textmessage" >
                            <div class="class_header">
                                <h4>用户动态</h4>
                            </div>
                            <div class="class_body">

                            </div>
                            <div id="lookmore">
                                正在努力加载更多
                                <div class="loading">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div id="lookend" style="display: none;">
                                已经是全部内容了哦
                                <i class="fa fa-sun-o" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="textmessage" style="display: none;">
                            <div class="class_header">
                                <h4>用户专辑</h4>
                            </div>
                            <div class="class_body">
                                <div class="albumbody" id="albumbody"> 
                                    <!-- <a href="" class="Aalbummax">
                                        <span class="albumid"></span>
                                        <div class="imgbox">
                                            <div class="img"></div>
                                        </div>
                                        <div class="albumtext">
                                            <div class="albumname">专辑名</div>
                                            <div class="albumnumber">
                                                <span>0</span> 图片 | <span>0</span> 收藏
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="Aalbummax">
                                        <div class="imgbox">
                                            <div class="img2"></div>
                                            <div class="img2"></div>
                                        </div>
                                        <div class="albumtext">
                                            <div class="albumname">专辑名</div>
                                            <div class="albumnumber">
                                                <span>0</span> 图片 | <span>0</span> 收藏
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="Aalbummax">
                                        
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <div class="textmessage"style="display:block;" >
                            <div class="class_header">
                                <h4>用户的收藏</h4>
                            </div>
                            <div class="class_body">
                                <div class="colnamicmax">
                                    <div class="user_cord">
                                        <a href="" class="dyusera">
                                            <img src="public/img/userHead.jpg" class="dyuserhead" alt="">
                                            <span class="dyusername">发布动态的用户名</span>
                                        </a>
                                        <span class="dytime">2021:10:33</span>
                                    </div>
                                    <a href="" class="abmax">
                                        来自专辑 <span>这是专辑名q</span> 的动态：
                                    </a>
                                    <a href="" class="dytexta">
                                        <div class="imgde">
                                            对图的描述对图的描述对图的描述对图的描述对图的描述对图的描述对图的描述
                                            对图的描述对图的描述对图的描述对图的描述对图的描述对图的描述对图的描述
                                        </div>
                                        <div class="imgmax">
                                            <img src="public/img/userHead.jpg" alt="">
                                            <img src="public/img/01.jpg" alt="">
                                            <img src="public/img/02.jpg" alt="">
                                            <img src="public/img/03.jpg" alt="">
                                            <img src="public/img/11.png" alt="">
                                            <img src="public/img/img1.jpeg" alt="">
                                            <img src="public/img/img2.jpeg" alt="">
                                            <img src="public/img/img3.jpeg" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mytextmessageright">
                    <div class="numberboard">
                        <a href="javascript:;">
                            <span>关注了</span></br>
                            <span class="mynumber">11</span>
                        </a>
                        <a href="javascript:;">
                            <span>关注者</span></br>
                            <span class="mynumber">11</span>
                        </a>
                    </div>
                    <div class="myalbum">
                        <div class="myalbum_top">TA的专辑：</div>
                        <div class="myalbumbox">
                            <!-- <a href="" class="myalbuma">
                                <img src="/public/img/loginback.png" alt="">
                                <span>这是专辑名qqqqqqwea qq</span>
                                <div>11  图片</div>
                            </a> -->
                        </div>
                        <a href="javascript:;" class="lookmoreal" onclick="changeclass(1)">点击观看更多</a>
                    </div>
                    <!-- <a href="javascript:;" onclick="publish_show()" class="code_publish_button"><i class="fa fa-plus" aria-hidden="true" style="margin-right:3px;"></i>  开始创作</a> -->
                </div>
            </div>
        </div>
    </div>
{{/block}}
{{block 'bottom'}}
<script src="public/js/userhomepage.js"></script>
{{/block}}