#body {
    margin-top: 70px;
    background-color: #F6F6F6;
  }
  
  .rebody {
    position: relative;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
  }
  
  #main {
    margin: 0 auto;
    width: 1000px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: white;
    z-index: 1;
    top: 0;
  }
  
  #main #main-left {
    border: 1.5px #e5e5e5 solid;
    width: 150px;
    background-color: white;
  }
  
  #main #main-left .message-sort {
    width: 100%;
    height: 40px;
    display: block;
    border-bottom: 1.5px #e5e5e5 solid;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: black;
    position: relative;
  }
  
  #main #main-left .message-sort div {
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color:#DC4E41;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #main #main-left .message-sort:hover {
    color: white;
    background-color: #73b2ff ;
  }
  
  #main #main-right {
    width: 820px;
    padding: 10px;
    background-color: white;
    height: 650px;
  }
  
  #main #main-right .main-right-top {
    width: 800px;
    height: 30px;
    font-size: 16px;
    border-bottom: 1.5px #e5e5e5 solid;
    position: relative;
    display: flex;
    line-height: 30px;
  }
  
#main #main-right .main-right-top .chatreturn{
    position: absolute;
    right: 10px;
    color: #669fe6;
    font-size: 15px;
  }
  #main #main-right .main-right-top .chatusername{
    color: #669fe6;
    font-size: 18px;
    font-weight: 600;
  }
  #main #main-right .main-right-bon {
    width: 800px;
    /* height: 100px; */
    font-size: 14px;
    background-color:whitesmoke;
    display: flex;
    position: relative;
  }
  #main #main-right .main-right-bon textarea{
    color: #444;
    resize: none;
    height: 100px;
    padding: 5px;
    width: 790px;
    outline: none;
    font-size: 14px;
    border: 1.5px solid #669fe6;
    line-height: 18px;
    transition: .2s all;
  }
  #main #main-right .main-right-bon button{
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 120px;
    height: 36px;
    color: white;
    padding: 5px 12px;
    background-color: #056DE8;
    font-size: 16px;
    border-radius: 3px;
  }
  #main #main-right .main-right-bon button:hover{
    background-color:  #0461CF;
  }
  #main #main-right .main-right-bon #chattextnumbermax{
    position: absolute;
      bottom: 5px;
      font-size: 14px;
      right: 150px;
      color: white;
      padding: 5px 6px;
      border-radius: 10px;
      background-color: rgba(0,0,0,0.3);
  }
  #main #main-right .messagebody { 
    width: 800px;
    margin-top: 10px;
    border: 1px solid rgb(217, 217, 217);
    height: 450px;
    overflow-y: scroll;
  }
  #main #main-right .messagebody .amessage{ 
    width: 780px;
    margin-top: 5px;
    position: relative;
    background-color: white;
  }
  #main #main-right .messagebody .chattimebox{ 
    width: 780px;
    height: 30px;
    padding-top: 5px;
    background-color: white;
  }
  #main #main-right .messagebody span{ 
    width: 200px;
    display: block;
    font-size: 12px;
    height: 30px;
    color: white;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0,0,0,0.3);
    font-size: 16px;
    border-radius: 3px;
  }
  #main #main-right .messagebody .chat{ 
    width: 760px;
    /* height: 40px; */
    padding: 5px 10px;
    /* border: #444 1px solid; */
    background-color: white;
    overflow: hidden;
  }
  #main #main-right .messagebody .chat img{ 
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: rgb(168, 168, 168) 1px solid;
  }
  #main #main-right .messagebody .chat .chattext{ 
    padding: 5px;
    max-width: 700px;
    line-height: 24px;
    border: #999 1.5px solid;
    border-radius: 5px;
    margin:0 10px;
  }
  #main #main-right .messagebody .otherchat img{ 
    float: left;
  }
  #main #main-right .messagebody .otherchat .chattext{ 
    background-color: rgb(212, 212, 212);
    float: left;
  }
  #main #main-right .messagebody .mychat img{ 
    float: right;
  }
  #main #main-right .messagebody .mychat .chattext{ 
    background-color: rgb(197, 228, 255);
    float: right;
  }
.online{
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
}
