*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.arrowtora{
	animation-name:arrowtora;
	animation-duration: .5s;
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
}
@keyframes arrowtora
{
	from {transform: rotate(0deg);} 
	to {transform: rotate(-180deg);}
}
@-webkit-keyframes arrowtora
{
	from {transform: rotate(0deg);}
	to {transform: rotate(-180deg);}
}
.fade {
  animation: fade .2s;
  -webkit-animation: fade .2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header{
    position: fixed;
    inset: 0px auto auto 0px;
    z-index: 998;
    width: 100%;
    height: 65px;
    color: #666;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    background-color: white;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
#header .header_max{
    height: 65px;   
    display: flex;
    align-items: center;
}
.header_search{
    position: relative;
    width: 280px;
}
.header_search input {
    width: 100%;
    height: 35px;
    padding-left: 16px; 
    width: 200px;
    border-radius: 45px;
    border: 2px solid #056DE8;
    transition: .3s linear;
    float: right;
}
.header_search input:focus {
    width: 250px;
    outline: none;
}
.header_search button {
    height: 38px;
    width: 50px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    background-color:#056DE8;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 0  100px 100px 0;
    top: 0px;
    right: 0px;
}
#header .header_button{
    margin: 0 40px;
    padding: 0 4px;
    width: 70px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    border-radius: 44px;
}
#header .header_button:hover{
    border: 1px solid #a8a8a8;
}
#header .header_button i{
    font-size: 20px;
}
#header .header_class{
    position: absolute;
    top: 52px;
    /* left: -101px; */
    width: 290px;
    height: 275px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(171, 171, 171);
}

#header .header_co{
  position: absolute;
  top: 52px;
  right:200px;
  width:120px;
  height: 150px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(171, 171, 171);
}
#header .header_co a{
  display: block;
  width: 120px;
  padding:8px 0px;
  text-align: center;
  transition: .3s all;
  margin: 10px 0;
  color: #0461CF;
}
#header .header_co a i{
  padding-right: 5px;
}
#header .header_co a:hover{
    background-color: #f2f2f2;
}
.publish_button{
    display: block;
    width: 78px;
    height: 30px;
    padding: 3px 0px;
    background: #056DE8;
    margin: 0 30px;
    border-radius: 44px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}
.publish_button:hover{
    background: #056DE8;
}
.message_button{
    padding: 15px 30px;
    display: block;
    border-radius: 10px;
    font-size: 16px;
    color: #a8a8a8;
    margin: 0 20px;
}
.message_button:hover{
    background: #f5f5f5;
}
#header_headdiv{
    width: 160px;
    height: 65px;
    display: flex;
    align-items: center;
}
#header_headdiv img{
    width: 42px;
    height: 42px;
    margin:0 10px;
    border-radius: 100px;
}
#header_headdiv a{
    display: block;
    width: 120px;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#totop{
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 4px;
    text-align: center;
    position: fixed;
    top: 500px;
    right: 30px;
    font-size: 30px;
    color: #056DE8;
    border: 1px solid #e0e0e0;
}
#totop:hover{
    border: 1px solid #afafaf;
    color: #0461CF;
}
#publish {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    z-index: 999;
    display: none;
    opacity: 0;
    /* display: block;
    opacity: 1; */
  }
  
  #publish #publish_main {
    padding:20px 30px;
    width: 340px;
    min-height: 200px;
    /* height: 330px; */    
    background-color: white;
    margin: 20vh auto;
    border-radius: 2px;
    position: relative;
  }
  
  #publish #publish_main .publish_main_top {
    /* font-family: YouYuan; */
    font-weight: 900;
    width: 100%;
    height: 30px;
    font-size: 18px;
    text-align: center;
    color: #b6b6b6;
    border-bottom: 1px solid #ebebeb;
  }
  #publish #publish_main .publish_main_top a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 26px;
    border-radius: 100px;
    font-size: 20px;
    position: absolute;
    color: #000000;
    top: 10px;
    z-index: 2;
    right: 20px;
    transition: .2s;
  }
  
  #publish #publish_main .publish_main_top a:hover {
    color: white;
    background-color: #0461CF;
  }
  
  #publish #publish_main .publish_link {
    /* background-color: #a8a8a8; */
    width: 100%;
    height: 30px;
    font-size: 14px;
    margin-top: 5px;
    line-height: 30px;
  }
  #publish #publish_main .publish_link select{
    width: 230px;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
  }
  #publish #publish_main .publish_link i {
    color: #056DE8;
    padding-right: 5px;
  }
  
  #publish #publish_main button {
    bottom: 10px;
    right: 35px;
    position: absolute;
    padding: 7px 10px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #E8F4FF;
    color: #056DE8;
    border: #c3e0fc 1px solid;
    cursor: pointer;
  }
  
  #publish #publish_main button:hover {
    background-color: #0461CF;
    color: white;
    border: #0461CF 1px solid;
  }
  
  #publish #publish_main .publish_send {
    height: 23px;
    width: 300px;
    padding-left: 10px;
    outline: none;
    border: 1.5px solid gainsboro;
    color: #444;
    border-radius: 2px;
  }
  
  #publish #publish_main .publish_text {
    color: #444;
    margin-top: 15px;
    resize: none;
    height: 80px;
    padding: 5px;
    width: 320px;
    outline: none;
    font-size: 14px;
    border: 1.5px solid gainsboro;
    border-radius: 2px;
    line-height: 18px;
  }
  /* .publish_files{ 
    border: #000000 1px solid;
  } */
#img-box{
  /* border: #0dae9e 1px solid; */
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
#img-box div{
  border: 2px dashed gray;
  width: 90px;
  height: 90px;
  position: relative;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  margin: 1px;
}
#img-box div .deletediv{
  position: absolute;
  top: -3px;
  left: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 2;
  opacity: 0;
  color: white;
  background-color: rgba(0, 0, 0,0.4);
  cursor: pointer;
}
#img-box div div:hover{
  opacity: 1;
}
#img-box img{
  width: 90px;
  height: 90px;
}
/*外层div*/
/* .input-file-box{
  border: 1px solid gray;
  width: 90px;
  height: 90px;
  position: relative;
  text-align: center;
  border-radius: 3px;
} */
/*文字描述*/
.input-file-box > span{
  display: block;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: gray;
}
/*input框*/
.input-file-box #uploadfile{
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}