*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.arrowtora{
	animation-name:arrowtora;
	animation-duration: .5s;
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
}
@keyframes arrowtora
{
	from {transform: rotate(0deg);} 
	to {transform: rotate(-180deg);}
}
@-webkit-keyframes arrowtora
{
	from {transform: rotate(0deg);}
	to {transform: rotate(-180deg);}
}
#header{
    position: fixed;
    inset: 0px auto auto 0px;
    z-index: 998;
    width: 100%;
    height: 65px;
    color: #666;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
#header .header_max{
    height: 65px;   
    display: flex;
    align-items: center;
}
.header_search{
    position: relative;
    width: 280px;
}
.header_search input {
    width: 100%;
    height: 35px;
    padding-left: 16px; 
    width: 200px;
    border-radius: 45px;
    border: 2px solid #FF7E7E;
    transition: .3s linear;
    float: right;
}
.header_search input:focus {
    width: 250px;
    outline: none;
}
.header_search button {
    height: 38px;
    width: 50px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    background-color: #FF7E7E;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 0  100px 100px 0;
    top: 0px;
    right: 0px;
}
#header .header_button{
    margin: 0 15px;
    padding: 0 4px;
    width: 70px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    border-radius: 44px;
}
#header .header_button:hover{
    border: 1px solid #a8a8a8;
}
#header .header_button i{
    font-size: 20px;
}
#header .header_class{
    position: absolute;
    top: 52px;
    /* left: -101px; */
    width: 290px;
    height: 275px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(171, 171, 171);
}
.publish_button{
    display: block;
    width: 78px;
    height: 30px;
    padding: 3px 0px;
    background: #ff7e7e;
    margin: 0 30px;
    border-radius: 44px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
}
.publish_button:hover{
    background: #f15c5c;
}
.message_button{
    padding: 15px 18px;
    display: block;
    border-radius: 10px;
    font-size: 16px;
    color: #a8a8a8;
    margin: 0 10px;
}
.message_button:hover{
    background: #f5f5f5;
}
#header_headdiv{
    width: 160px;
    height: 65px;
    display: flex;
    align-items: center;
}
#header_headdiv img{
    width: 42px;
    height: 42px;
    margin:0 10px;
    border-radius: 100px;
}
#header_headdiv a{
    display: block;
    width: 120px;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#totop{
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 4px;
    text-align: center;
    position: fixed;
    top: 500px;
    right: 30px;
    font-size: 30px;
    color: #ff7e7e;
    border: 1px solid #e0e0e0;
}
#totop:hover{
    border: 1px solid #afafaf;
    color: #ff6161;
}