*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-image:url(/public/img/loginback.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.Card {
    padding: 15px 0;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: white;
}
.LOGO{
    margin: 0px auto;
    font-size: 40px;
}
.LOGO img{ 
    height: 60px;
}
.Card .Re_or_lo{
    margin: 10px auto 0px;
    width: 100px;
    /* height: 30px; */
    color: #888;
}
.Card .Re_or_lo a{
    color: #888;
}
.Card .Re_or_lo a:hover{
    color: #0461CF;
}
.body{
    margin-bottom: 10px;
    width: 100%;
    min-height: 500px;
    /* background: #fff; */
    overflow: hidden;
    border-radius: 2px;
    /* -webkit-box-shadow: 0 1px 3px rgb(18 18 18 / 50%);
    box-shadow: 0 1px 3px rgb(18 18 18 / 50%); */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    /* background-color: rgba(0,0,0,0.2); */
}
.form{
    padding: 20px;
    padding-bottom:50px ;
    background-color: white;
    width: 440px;
    min-height: 250px;
    border-radius:5px ;
    margin:10px auto;
    border: 5px #dceafc solid;
    -webkit-box-shadow: 0 3px 6px rgb(18 18 18 / 30%);
    box-shadow: 0 3px 6px rgb(18 18 18 / 30%);
}
.form .logindiv{
    width: 400px;
    height: 36px;
    line-height: 36px;
    margin-top: 20px;
    /* background-color: wheat; */
    display: flex;
    color: #888;
    position: relative;
}
.form .logindiv label{
    width: 100px;
    height: 28px;
    font-size: 15px;
    background-color: #fff;
}
.form .logindiv input{
    width: 300px;
    height: 38px;
    background-color:white;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 0 12px;
}
.getcode{
    color: #444;
    position: absolute;
    width: 120px;
    height: 28px;
    border-left: 1px solid #dfdfdf;
    line-height: 26px;
    top: 5px;
    right: 10px;
}
.form .logindiv a{
    color: #444;
    /* background-color: #fff; */
    font-size: 14px;
    transition: all .3s;
}
.form .logindiv a:hover{
    color: #0461CF;
}
.form .logindiv .biga:hover{
    font-size: 15px;
}
.nextprocedure{
    margin-top: 10px;
    min-height: 40px;
    width: 200px;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 0 10px;
    background-color:#056DE8;
    transition: all .3s;
}
.nextprocedure:hover{
    background-color: #0461CF;
}
.repassword{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 24px;
    margin-top: 20px;
    /* background-color: wheat; */
}
.repassword a {
    padding: 0 10px;
    font-size: 15px;
    color: #444;
}
.repassword a:hover{
    color: #0461CF;
}
#checkCode {
    width: 50px;
    height: 38px;
    cursor: pointer;
    padding: 6px 2px;
    font-size: 16px;
    font-weight: bold;
    /* border: 0; */
    letter-spacing: 3px;
    background-image: url(/public/img/yzmbj.jpg);
    background-repeat: no-repeat;
}
.code{
    font-family: Arial;
    font-style: italic;
    color: #22A6F2;
    background-position: 0px 0px;
}
.code2{
    font-family: STHupo;
    font-style: italic;
    color: #DD5347;
    background-position: -100px -75px;
}
.code3{
    font-family: STXingkai;
    font-style: italic;
    color: #0eb3a2;
    background-position: -200px -155px;
}
.code4{
    font-family:STCaiyun;
    font-style: italic;
    color: #e3d10b;
    background-position: -155px 0px;
}
/* .hintSty{
    left: 47%;
} */