#body {
  margin-top: 70px;
  /* background-color: #F6F6F6; */
}

.rebody {
  position: relative;
  width: 1000px;
  padding: 0 16px;
  margin: 10px auto;
}

.tab {
  width: 1000px;
  height: 40px;
  margin: 5px 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.2);
  box-shadow: 0 1px 3px rgba(18, 18, 18, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tab ul {
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
}

.tab ul li {
  display: inline-block;
}

.tab ul li a {
  display: block;
  width: 80px;
  line-height: 38px;
  margin: 0px 20px;
  text-align: center;
  height: 38px;
  color: #121212;
}

.tab .havebethis {
  font-weight: 600;
  border-bottom: #0dcab7 2px solid;
}

li {
  list-style-type: none;
}

.mymessage {
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.2);
  box-shadow: 0 1px 3px rgba(18, 18, 18, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* text-align: center; */
}

.mytextmessage {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.mymessage #mymessageback {
  width: 1000px;
  height: 130px;
  background-color: aliceblue;
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  background-image: url(/public/img/be42c240.jpg);
}

.mymessage #mymessagetext {
  width: 1000px;
  height: 300px;
  position: relative;
  background: #fff;
  margin: 0 20px 0px;
}

.mymessage #mymessagetext #cordimg {
  width: 160px;
  height: 160px;
  border-radius: 3px;
  border: 5px solid white;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/public/img/userHead.jpg);
  top: -57px;
}

.mymessage #mymessagetext #cordcon {
  padding: 16px 0px 20px 200px;
  width: 760px;
}

.mymessage #mymessagetext #cordcon .inputdiv {
  width: 400px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 20px;
  /* background-color: wheat; */
  display: flex;
  color: #888;
  position: relative;
}

.mymessage #mymessagetext #cordcon .inputdiv #headfile {
  width: 130px;
  height: 36px;
  background-color: wheat;
  position: relative;
  right: 130px;
  opacity: 0;
  cursor: pointer;
}

.mymessage #mymessagetext #cordcon .inputdiv label {
  width: 80px;
  height: 28px;
  background-color: white;
}

.mymessage #mymessagetext #cordcon .inputdiv .kuanginput {
  width: 300px;
  height: 38px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 0 12px;
}

.mymessage #mymessagetext #cordcon .inputdiv .chanceinput {
  margin: 9px 10px 0 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.mymessage #mymessagetext #cordcon button {
  font-size: 14px;
  color: #0dcab7;
  border: #0dcab7 1px solid;
  border-radius: 3px;
  padding: 6px 16px;
  transition: .2s all;
  background-color: rgba(13, 202, 183, 0);
  cursor: pointer;
}

.mymessage #mymessagetext #cordcon button:hover {
  background-color: rgba(13, 202, 183, 0.2);
}
