.card-header{
    padding: 8px;
}
.card-list-checkbox{
    line-height: 32px;
}
.btn-new{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 71px;
    line-height: 32px;
    font-size: 10px;
    background-color: rgb(135 222 117);
}
.new{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 71px;
    line-height: 32px;
    font-size: 10px;
    background-color: rgb(135 222 117);
}
.btn-update{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 71px;
    line-height: 32px;
    font-size: 10px;
    background-color: rgb(243 156 18);
    cursor: not-allowed;
}
.update{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 71px;
    line-height: 32px;
    font-size: 10px;
    background-color: rgb(243 156 18);
}
.btn-delete{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 71px;
    line-height: 32px;
    font-size: 10px;
    background-color: rgb(231 76 60);
    cursor: not-allowed;
}
.delete{
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 71px;
    line-height: 32px;
    font-size: 10px;
    background-color: rgb(231 76 60);
}
.hidden-input{
    width: 400px;
    height: 34px;
    padding: 5px;
    border: 0px;
    outline: 1px solid rgb(204,204,204);
    border-radius: 3px;
}
.pop-up{
    height: 250px;
}
.warn{
    width: 500px;
    height: 170px;
}
.pop-main{
    font-weight: 900;
}
.warning{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: -9px;
    margin-left: 10px;
}
.warn-text{
    font-size: 18px;
    font-weight: 900;
    line-height: 32px;
}
.pop-header{
    display: block;
    padding: 10px;
    line-height: 36px;
    font-size: 18px;
    color: black;
    font-weight: 700;
}
.button{
    position: relative;
    bottom: -30px;
}
.card-list-sex{
    width: 260px;
}
.card-list-number{
    width: 120px;
}
.card-list-checkbox{
    width: 40px;
}