.middle {
    width: 1000px;
    margin: 0 auto;
}

.divide {
    display: grid;
    grid-template-columns: 785px 180px;
}

.content {
    margin-top: 80px;
}

.top {
    margin-top: 80px;
}

.topContent {
    width: 785px;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 15px 0px;
}

.topContent>span {
    cursor: pointer;
}

/* .topContent>span:nth-child(3) {
    position: relative;
}

.topContent>span:nth-child(3)::before {
    content: 'new';
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 52px;
    font-size: 14px;
    color: #FF7E7E;
}

.topContent>span:hover {
    color: #C71D23;
} */

.searchHistory {
    width: 180px;
    margin: 20px 0px 10px 15px;
}

.searchHistoryItem {
    border: 1px solid #e0e0e0;
    padding: 5px;
}

.searchHistoryTop {
    font-size: 16px;
    font-weight: 600;
    color: #444;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px;
    padding-bottom: 10px;
}

.searchHistoryTop>button {
    padding: 0px;
    margin-left: 50px;
}

.searchHistoryContent {
    text-align: center;
    font-size: 14px;
    color: #777;
}

.hortSearch {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

.searchHistoryContent {
    min-height: 50px;
    line-height: 50px;
    text-align: center;
}

.searchHortContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.searchHortContent>a {
    display: inline-block !important;
    max-width: 70px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #777;
}

.searchHortContent>a:hover {
    color: #C71D23;
}

.searchResult {
    width: 785px;
    columns: 3;
    column-gap: 10px;
}

.middleContentItem {
    /* width: 235px;
    display: inline-block; */
    border: 1px solid #e0e0e0;
    /* border-bottom: none; */
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.middleContentItem:hover {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, .2);
}

.middleContentSty {
    display: inline-block;
    /* width: 235px; */
    /* min-height: 100px; */
    position: relative;
    overflow: hidden;
    width: 100%;
}

.middleContentSty>a {
    display: inline-block;
    width: 100%;
}

.middleContentSty>a>img {
    /* max-width: 235px; */
    width: 100%;
    height: 100%;
}

.operator {
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    color: white;
    display: none;
}

.operator>span {
    margin-right: 20px;
    font-size: 10px;
    padding: 3px 0px;
    border-radius: 50px;
    border: 1px solid white;
    text-align: center;
}

.operator>a {
    margin-right: 20px;
    font-size: 10px;
    padding: 3px 0px;
    border-radius: 50px;
    border: 1px solid white;
    text-align: center;
    color: white;
}

.operator>a:hover {
    background-color: white;
    color: black;
}


.operator>span:hover {
    background-color: white;
    color: black;
}

.middleContentItem:hover .operator {
    display: grid;
}

.userInfo {
    margin-top: 10px;
    font-size: 12px;
    display: grid;
    grid-template-columns: 24px auto;
    padding: 10px;
}

.userInfo>span>a:hover {
    color: #C71D23;
}

.textInfo {
    padding: 10px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}

.likeInfo {
    margin: 15px 10px;
    color: #A0A0A0;
    font-size: 14px;
}

.likeInfo>span {
    margin-left: 5px;
}

.userInfo>a>img {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.userInfo>span {
    margin-left: 10px;
}

.userInfo>span>span {
    margin-top: 3px;
    display: block;
    margin-bottom: 5px;
}

.searchResult {
    margin-top: 90px;
}

.clickSty {
    color: red;
}

.albumInfo {
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.albumInfo>a>img {
    margin-top: 10px;
    width: 233px;
    height: 233px;
}

.albumInfo>a>p {
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.albumSty {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.albumDescribe {
    text-align: center;
    display: inline-block;
    width: 230px;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    color: #444;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noContent {
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.talentShow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.item {
    margin-left: 20px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
}

.itemImg>a>img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.itemUserInfo {
    margin: 12px 0px 0px 20px;
}

.operatorTalentShow {
    margin: 34px 34px 0px 40px;
}

.userIntroduce {
    margin-top: 10px;
}

.userIntroduce>p {
    white-space: nowrap;
    width: 380px;
    padding: 5px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 40px;
    overflow: hidden;
}

.defaultSty {
    background-color: #C71D23;
    color: white;
    width: 55px;
    text-align: center;
}

.focusSty {
    background-color: #946061;
}

.middleAnimation {
    width: 100%;
    margin-top: 120px;
}

.searchContent {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.searchContent>span {
    display: flex;
    width: 74px;
    align-items: center;
    justify-content: center;
}

.searchContent>span>a {
    display: inline-block;
    width: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

.searchContent>span>button {
    padding: 0px;
    margin-right: 5px;
}

.searchContent>span>button>i {
    font-size: 5px !important;
}

.searchContent>span:hover>button {
    display: inline-block !important;
}