/* 清除默认样式 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

input {
    outline: none;
    /* padding-left: 15px; */
    border: 1px solid #DDDDDD;
    margin-left: 10px;
    color: #999999;
}

a {
    text-decoration: none;
    color: black;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
    padding: 7px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

select {
    outline: none;
    margin-left: 10px;
    padding: 5px;
    width: 200px;
    border: 1px solid #DDDDDD;
    color: #999999;
}

textarea {
    color: #999999;
    outline: none;
}

/* 浮动 */
.clearFloat::after {
    content: "";
    display: block;
    clear: both;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

/* 不显示 */
.none {
    display: none !important;
}
#tipsback{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    z-index: 99999;
    display: none;
/* display: block; */
    text-align: center;
  }
/* 错误信息 */
.hintSty {
    border-radius: 3px;
    z-index: 100000;
    width: 200px;
    min-height: 50px;
    /* position: fixed; */
    /* top: 50%; */
    margin: 25vh auto;
    /* left: 42%; */
    text-align: center;
    /* display: grid; */
    /* grid-template-rows: 50px auto;
    justify-content: center;
    align-items: center; */
    padding: 10px 20px;
    color: white;
}
.wrong {
    background-color: #FF0000;
}
.success {
    background-color: #27AE60;
}
.warning {
    background-color: #F39C12;
}

.animatedSty {
    animation: hint 1s ease alternate;
}

/* .wrong>span {
    display: grid;
    text-align: center;
} */

/* .wrongText {
    text-align: center;
    display: inline-block;
} */

/* 动画样式 */
.middleAnimation {
    width: 600px;
}
.tiptext{
    display: block;
    width: 200px;
    line-height: 30px;
    font-size: 14px;
    /* background-color: wheat; */
    /* display: flex; */
}
.pulse-container {
    width: 120px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pulse-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #BD3F43;
}

.pulse-bubble-1 {
    /* 动画名称 单词动画持续时间 动画速度曲线 动画时延 动画往返交替播放 */
    animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

/* 动画 */
@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: .25;
        transform: scale(.75);
    }
}

@keyframes hint {
    from {
        margin:-200px auto;
        top: 10px;
    }
    to {
        margin: 25vh auto;
        /* top: 50%; */
    }
}
.tipsi{
    width: 200px;
    line-height: 30px;
    text-align: center;
    display: block;
}
.tipsi i{
    font-size: 26px;
}
