@font-face {
  font-family: "iconfont"; /* Project id 3661478 */
  src: url('iconfont.woff2?t=1664522283148') format('woff2'),
       url('iconfont.woff?t=1664522283148') format('woff'),
       url('iconfont.ttf?t=1664522283148') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jubao1:before {
  content: "\e601";
}

.icon-tianjiatupian:before {
  content: "\e70a";
}

.icon-pinglun:before {
  content: "\e614";
}

.icon-xialasanjiao:before {
  content: "\e797";
}

.icon-ziyuan:before {
  content: "\e643";
}

.icon-jinggao:before {
  content: "\e66a";
}

.icon-chenggong:before {
  content: "\e62a";
}

.icon-gantanhao:before {
  content: "\e606";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-huidaodingbu:before {
  content: "\e88d";
}

.icon-shoucang_o:before {
  content: "\ebae";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-jubao:before {
  content: "\e69b";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

